<footer class="gp-footer">
    <section class="section-1">
        <div class="section-container">
            <div class="description">
                <h3>GP-Tracker</h3>
                <p>
                   GP-Tracker est un site conçu et pensé dans le but d'assister et de faciliter le réseau de Gratuite partielle partout dans le monde. 
                   Il a été créé par des membres de la diaspora en réponse à leur propre expérience.
                </p>
            </div>
            <div class="quick-menu">
                <h3>Menu Rapide</h3>
                <ul class="gp-footer-nav-1">
                    <li>
                        <a href="#">Acceuil</a>
                    </li>
                    <li>
                        <a href="#">Salon</a>
                    </li>
                    <li>
                        <a href="#">Informations</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="about">
                <h3>À propos</h3>
                <ul class="gp-footer-nav-2">
                    <li>
                        <a href="#">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a href="#">Notification sur la confidentialité</a>
                    </li>
                    <li>
                        <a href="#">Notification sur la confidentialité</a>
                    </li>
                    <li>
                        <a href="#">Notification sur les cookies de GP-Tracker</a>
                    </li>
                    <li>
                        <a href="#">Politique de protection des droits de propriété intellectuelle</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section-2">
        <p>&copy; 2023 - All Rights Reserved By GP Tracker</p>
    </section>
</footer>