<header class="gp-header">
    <section class="section-1">
        <div class="logo">
            <div id="toggle-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
            <a href="/">
                <svg
                    width="376"
                    height="51"
                    viewBox="0 0 376 51"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M51.525 50.89C50.6083 50.89 49.71 50.8167 48.83 50.67C45.2733 50.12 42.2483 48.7633 39.755 46.6C37.2617 44.4733 35.465 41.815 34.365 38.625C30.9183 40.055 27.1967 40.77 23.2 40.77C16.6 40.77 11.1917 38.9 6.975 35.16C2.75833 31.42 0.65 26.6167 0.65 20.75C0.65 16.8267 1.60333 13.3433 3.51 10.3C5.45333 7.25667 8.16667 4.91 11.65 3.26C15.1333 1.57333 19.1117 0.729997 23.585 0.729997C26.5183 0.729997 29.36 1.02333 32.11 1.61C34.86 2.16 37.0783 2.85667 38.765 3.7L38.875 13.16H38.435C37.555 9.82333 35.85 7.31166 33.32 5.625C30.8267 3.90166 27.82 3.04 24.3 3.04C19.9733 3.04 16.435 4.70833 13.685 8.045C10.9717 11.345 9.615 15.6167 9.615 20.86C9.615 26.0667 10.9533 30.3017 13.63 33.565C16.3067 36.8283 19.7533 38.46 23.97 38.46C26.2433 38.46 28.205 37.965 29.855 36.975C31.5417 35.985 32.6783 34.665 33.265 33.015V24.655C33.265 23.8483 33.0267 23.225 32.55 22.785C32.0733 22.345 31.395 22.125 30.515 22.125H29.635V21.575H45.09V22.125H44.265C43.3483 22.125 42.6517 22.345 42.175 22.785C41.6983 23.225 41.4783 23.83 41.515 24.6V33.345C41.5517 35.765 42.01 38.02 42.89 40.11C44.8333 44.5833 48.06 47.37 52.57 48.47C53.78 48.7633 55.0267 48.91 56.31 48.91C57.63 48.91 58.9683 48.7633 60.325 48.47L60.435 49.02C57.2817 50.2667 54.3117 50.89 51.525 50.89ZM79.868 17.285C78.6214 20.145 76.3114 22.125 72.938 23.225C71.948 23.555 71.0314 23.72 70.188 23.72C67.5847 23.72 65.2564 23.0417 63.203 21.685V21.135C65.953 21.2083 68.1714 20.31 69.858 18.44C71.3614 16.8267 72.113 14.7183 72.113 12.115C72.113 8.11833 70.7197 5.53333 67.933 4.36C67.053 3.99333 66.0814 3.81 65.018 3.81H61.333V35.985C61.333 36.9383 61.6814 37.7633 62.378 38.46C63.0747 39.12 63.8997 39.45 64.853 39.45H65.568V40H48.848V39.45H49.563C50.5164 39.45 51.323 39.12 51.983 38.46C52.6797 37.7633 53.0464 36.9383 53.083 35.985V5.24C52.9364 3.99333 52.313 3.07667 51.213 2.49C50.6997 2.19666 50.1497 2.05 49.563 2.05H48.848V1.5H67.218C73.8547 1.5 78.108 3.60833 79.978 7.825C80.5647 9.21833 80.858 10.7767 80.858 12.5C80.858 14.1867 80.528 15.7817 79.868 17.285ZM84.1731 23.94L84.6131 22.125H101.113L101.553 23.94L101.113 25.81H84.6131L84.1731 23.94ZM121.397 3.755V36.04C121.434 36.9933 121.782 37.8 122.442 38.46C123.139 39.12 123.964 39.45 124.917 39.45H125.577L125.632 40H108.912V39.45H109.627C110.544 39.45 111.332 39.12 111.992 38.46C112.689 37.8 113.074 37.0117 113.147 36.095V3.755H105.722C104.036 3.79166 102.697 4.32333 101.707 5.35C100.717 6.37666 100.222 7.715 100.222 9.365V10.025H99.6723V0.454998C100.186 0.674997 101.102 0.894998 102.422 1.115C103.779 1.335 105.026 1.445 106.162 1.445H128.327C130.124 1.40833 131.591 1.26166 132.727 1.005C133.864 0.748332 134.561 0.564998 134.817 0.454998V10.025H134.267V9.365C134.267 7.715 133.772 6.37666 132.782 5.35C131.792 4.32333 130.454 3.79166 128.767 3.755H121.397ZM153.023 3.92H150.658C150.585 3.92 150.53 3.92 150.493 3.92V35.985C150.53 37.3417 151.117 38.35 152.253 39.01C152.803 39.3033 153.39 39.45 154.013 39.45H154.728V40H138.008V39.45H138.723C140.043 39.45 141.052 38.8817 141.748 37.745C142.042 37.2317 142.207 36.6633 142.243 36.04V5.515C142.207 4.56166 141.84 3.755 141.143 3.095C140.483 2.39833 139.677 2.05 138.723 2.05H138.008V1.5H156.873C160.43 1.5 163.437 2.27 165.893 3.81C167.14 4.58 168.13 5.66167 168.863 7.055C169.597 8.41166 169.963 9.97 169.963 11.73C169.963 13.4533 169.652 15.0483 169.028 16.515C168.442 17.9817 167.433 19.265 166.003 20.365C164.61 21.465 162.923 22.125 160.943 22.345C163.07 23.0417 164.94 24.655 166.553 27.185C170.513 33.5283 173.447 37.305 175.353 38.515C176.307 39.1017 177.498 39.4133 178.928 39.45V40H173.538C170.422 40 167.818 39.5783 165.728 38.735C163.638 37.855 161.933 36.37 160.613 34.28C159.953 33.2167 159.11 31.6217 158.083 29.495C157.057 27.3317 156.378 25.7917 156.048 24.875C155.058 22.675 153.812 21.4467 152.308 21.19V20.64H154.013C155.663 20.64 157.112 20.145 158.358 19.155C159.642 18.165 160.503 16.5517 160.943 14.315C161.09 13.545 161.163 12.94 161.163 12.5C161.163 9.49333 160.558 7.33 159.348 6.01C158.138 4.65333 156.58 3.95667 154.673 3.92C154.307 3.92 153.757 3.92 153.023 3.92ZM216.514 39.45H217.009V40H199.464V39.45H199.959C200.765 39.45 201.352 39.2117 201.719 38.735C202.122 38.2217 202.324 37.745 202.324 37.305C202.324 36.865 202.232 36.425 202.049 35.985L199.354 29.22H186.484L183.624 35.985C183.44 36.4617 183.349 36.92 183.349 37.36C183.349 37.7633 183.532 38.2217 183.899 38.735C184.302 39.2117 184.925 39.45 185.769 39.45H186.209V40H174.439V39.45H174.934C175.777 39.45 176.62 39.1933 177.464 38.68C178.307 38.1667 179.004 37.3967 179.554 36.37L192.259 7.605C193.982 3.975 194.899 1.57333 195.009 0.399998H195.504L211.839 36.26C212.389 37.3233 213.085 38.13 213.929 38.68C214.772 39.1933 215.634 39.45 216.514 39.45ZM187.419 26.91H198.419L193.084 13.38L187.419 26.91ZM238.711 40.715C231.635 40.715 226.08 38.9367 222.046 35.38C218.013 31.8233 215.996 26.9467 215.996 20.75C215.996 14.5533 217.995 9.67666 221.991 6.12C225.988 2.52666 231.47 0.729997 238.436 0.729997C243.753 0.729997 248.318 1.72 252.131 3.7L252.241 13.16H251.801C249.931 6.41333 245.66 3.04 238.986 3.04C234.66 3.04 231.231 4.61666 228.701 7.77C226.208 10.8867 224.961 15.1583 224.961 20.585C224.961 26.0117 226.153 30.32 228.536 33.51C230.956 36.7 234.22 38.35 238.326 38.46C242.58 38.46 245.825 37.3967 248.061 35.27C250.335 33.07 251.911 29.2933 252.791 23.94H253.231L253.781 33.4C250.811 38.3133 245.788 40.7517 238.711 40.715ZM259.3 39.45C260.254 39.45 261.06 39.12 261.72 38.46C262.417 37.7633 262.784 36.9383 262.82 35.985V5.46C262.784 4.14 262.179 3.15 261.005 2.49C260.492 2.19666 259.924 2.05 259.3 2.05H258.585V1.5H275.305L275.25 2.05H274.59C273.27 2.05 272.262 2.61833 271.565 3.755C271.235 4.26833 271.07 4.83666 271.07 5.46V35.985C271.07 36.9383 271.419 37.7633 272.115 38.46C272.812 39.12 273.637 39.45 274.59 39.45H275.25L275.305 40H258.585V39.45H259.3ZM299.01 40H294.5C288.927 40 284.985 38.4783 282.675 35.435C276.112 26.525 272.83 21.9967 272.83 21.85L285.865 4.58C286.159 4.21333 286.305 3.88333 286.305 3.59C286.305 3.29666 286.25 3.04 286.14 2.82C285.847 2.27 285.334 1.995 284.6 1.995H284.05V1.5H296.645V1.995H296.425C293.969 1.995 291.97 2.875 290.43 4.635L279.705 17.34L293.4 36.04C295.087 38.24 296.957 39.3767 299.01 39.45V40ZM300.873 39.45C301.826 39.45 302.633 39.12 303.293 38.46C303.989 37.7633 304.356 36.9383 304.393 35.985V5.35C304.283 4.06666 303.678 3.11333 302.578 2.49C302.028 2.19666 301.459 2.05 300.873 2.05H300.158V1.5H321.223C322.359 1.5 323.606 1.39 324.963 1.17C326.319 0.949999 327.273 0.729999 327.823 0.509997V10.135H327.273V9.475C327.273 7.825 326.778 6.505 325.788 5.515C324.834 4.48833 323.533 3.93833 321.883 3.865H312.643V19.87H319.903C321.259 19.8333 322.378 19.375 323.258 18.495C324.138 17.5783 324.578 16.46 324.578 15.14V14.645H325.128V27.35H324.578V26.91C324.578 25.0767 323.844 23.72 322.378 22.84C321.644 22.4367 320.838 22.2167 319.958 22.18H312.643V37.635H319.848C322.524 37.635 324.761 36.865 326.558 35.325C328.391 33.785 329.748 31.6033 330.628 28.78H331.178L328.648 40H300.158V39.45H300.873ZM349.82 3.92H347.455C347.382 3.92 347.327 3.92 347.29 3.92V35.985C347.327 37.3417 347.913 38.35 349.05 39.01C349.6 39.3033 350.187 39.45 350.81 39.45H351.525V40H334.805V39.45H335.52C336.84 39.45 337.848 38.8817 338.545 37.745C338.838 37.2317 339.003 36.6633 339.04 36.04V5.515C339.003 4.56166 338.637 3.755 337.94 3.095C337.28 2.39833 336.473 2.05 335.52 2.05H334.805V1.5H353.67C357.227 1.5 360.233 2.27 362.69 3.81C363.937 4.58 364.927 5.66167 365.66 7.055C366.393 8.41166 366.76 9.97 366.76 11.73C366.76 13.4533 366.448 15.0483 365.825 16.515C365.238 17.9817 364.23 19.265 362.8 20.365C361.407 21.465 359.72 22.125 357.74 22.345C359.867 23.0417 361.737 24.655 363.35 27.185C367.31 33.5283 370.243 37.305 372.15 38.515C373.103 39.1017 374.295 39.4133 375.725 39.45V40H370.335C367.218 40 364.615 39.5783 362.525 38.735C360.435 37.855 358.73 36.37 357.41 34.28C356.75 33.2167 355.907 31.6217 354.88 29.495C353.853 27.3317 353.175 25.7917 352.845 24.875C351.855 22.675 350.608 21.4467 349.105 21.19V20.64H350.81C352.46 20.64 353.908 20.145 355.155 19.155C356.438 18.165 357.3 16.5517 357.74 14.315C357.887 13.545 357.96 12.94 357.96 12.5C357.96 9.49333 357.355 7.33 356.145 6.01C354.935 4.65333 353.377 3.95667 351.47 3.92C351.103 3.92 350.553 3.92 349.82 3.92Z"
                        fill="black"
                    />
                </svg>
                {# <img src="{{asset('theme/assets/img/logo/gp-tracker-logo-4.png')}}" alt="logo"> #}
            </a>
        </div>
        <div class="content">
            <div class="language-switcher">
            <a href="#">Fr</a>
            <span class="separator">|</span>
            <a href="#">En</a>
            </div>
            <div class="buttons">
            <button class="login">
                <i class="fa fa-user"></i>
                <span>Se connecter</span>
            </button>
            {# <button class="register">
                <i class="fa-solid fa-user-plus"></i>
                <span>S'inscrire</span>
            </button> #}
            </div>
        </div>
    </section>
    <section class="section-2">
        <ul id="gp-header-nav">
            <i class="fa-regular fa-xmark"></i>
            <li class="language-switcher">
                <div class="current" id="current-language">
                    <img src="{{asset('/theme/assets/img/flag/fr_img.png')}}" alt="fr">
                    <span>Français</span>
                </div>
                <div class="options">
                    <a href="#">
                        <img src="{{asset('/theme/assets/img/flag/fr_img.png')}}" alt="fr">
                        <span>Français</span>
                    </a>
                    <a href="#">
                        <img src="{{asset('/theme/assets/img/flag/fr_img.png')}}" alt="fr">
                        <span>Français</span>
                    </a>
                </div>
            </li>
            <li>
                <a href="/" class="active">Acceuil</a>
            </li>
            <li>
                <a href="#">Salon</a>
            </li>
            <li>
                <a href="/informations">Informations</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
    </section>
    <section class="notification">
        <span class="text">Vos modifications ont été très bien enregistrés</span>
        <i class="fa-solid fa-xmark"></i>
    </section>
</header>