{% extends "@ViewpointTheme/base.html.twig" %}

{% block title%}
    Default
{% endblock %}

{% block body%}
    <h1>
        You are seeing this page because your theme has not been activated yet
    </h1>
    <p>Please Read the ReadMe file to learn how to activate your theme</p>
{% endblock %}