{% extends 'gp-tracker/base.html.twig' %}
{% block title %}
   Information 
{% endblock %}

{% block body %}
<main>
    <div class="container gp-informations">
        <section class="nav-content">
            <div class="nav">
                <ul class="main-nav">
                    <li class="active">
                       <a href="{{ path('app_informations_user') }}">
                             <i class="fa-solid fa-user"></i>
                            <span>Votre compte GP-Tracker</span>
                       </a>
                    </li>
                    <li>
                        <a href="/informations/empty-message">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Boîte de reception</span>
                        </a>
                    </li>
                    <li>
                       <a href="/informations/empty-package">
                             <i class="fa-solid fa-box"></i>
                            <span>Mes annonces GP</span>
                       </a>
                    </li>
                    <li>
                        <a href="/informations/empty-order">
                            <i class="fa-solid fa-truck-fast"></i>
                            <span>Mes commandes</span>
                        </a>
                    </li>
                    <li>
                        <a href="/informations/empty-vu">
                            <i class="fa-regular fa-clock-rotate-left"></i>
                            <span>Vus Récemment</span>
                        </a>
                    </li>
                </ul>
                <ul class="params">
                    <li>
                        <a href="{{ path('app_empty_adresse') }}">Adresses</a>
                    </li>
                    <li>
                        <a href="{{ path('app_settings') }}">Paramatère du compte</a>
                    </li>
                </ul>
                <form action="{{ logout_path('main') }}" method="POST">
                    <button type="submit">Deconnexion</button>
                </form>
            </div>
            <div class="content">
               <div class="header">
                   <h2 class="title">
                        {% block  subtitle %} {% endblock %}
                   </h2>
               </div>
                {% block content %} {% endblock %}
            </div>
        </section>
    </div>
</main>
{% endblock %}