@mixin empty-recently-seen{
    .no-vu-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 4rem 1rem 1rem 1rem;
    }
    
    .no-vu-container .no-content-icon {
        position: relative;
        margin-bottom: 1rem;
    }

    .no-vu-container .no-content-icon i{
         font-size: 3rem;
    }
    
    .no-vu-container .no-message-icon i {
        position: absolute;
        top: 50%; 
    }
    
    .no-vu-container .no-message-icon .fa-binoculars {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 60px;
        color: $btn-color-1;
    }
    
    .no-vu-container .no-message-icon {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: $light-gray-color;
        border-radius: 50%;
    }
    
    .no-vu-container > .message h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
        
    }
    
    .no-vu-container > .message  p {
        font-size: 1rem;
        margin-bottom: 5px;
    }
    .no-vu-container {
        @include empty-btn
    }
}

