main .gp-informations {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;

    & > .nav-content {
        width: 100%;
        height: 576px;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
}

main > .gp-informations > .nav-content {
    .nav {
        width: 25%;
        min-width: 210px;
        height: 100%;
        border-radius: 8px;
        background-color: $white-color;
        overflow: hidden;
    }
    .content {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background-color: $white-color;
        overflow: auto;
    }
}

main > .gp-informations > .nav-content > .nav {
    > ul {
        list-style: none;
        width: 100%;
        height: auto;
    }
}

main > .gp-informations > .nav-content > .nav > ul {
    li {
        width: 100%;
    }
    a {
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.7rem 1rem;
        gap: 1rem;
        text-decoration: none;
        color: $black-color;
        cursor: pointer;
        &:hover {
            background-color: lighten($color: #000000, $amount: 90%);
        }
    }
    .active {
        background-color: lighten($color: #000000, $amount: 90%);
        &:hover {
            background-color: lighten($color: #000000, $amount: 92%);
        }
    }
    i {
        width: 8%;
        color: $base-color;
    }
}
