@mixin package {
    #packages-informations .package .package-header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: inherit;
    }

    #packages-informations .package .package-header .filter-button {
        padding: 0;
        background: none;
        border: none;
    }

    #packages-informations .package .package-header .filter-button i {
        padding: 8px 12px;
        gap: 8px;
        background: #ffffff;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16),
            0px 2px 5px rgba(89, 96, 120, 0.1);
        border-radius: 6px;
        color: #14438b;
    }

    #packages-informations .package .package-header .box {
        width: 50%;
        height: 32px;
        margin-left: 1em;
        background-color: white;
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        padding: 6px 12px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(104, 113, 130, 0.16);
        border-radius: 6px;
        & > i {
            width: 16px;
            height: 16px;
            color: #14438b;
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        & > input {
            width:  30%;
            height: 20px;
            font-family: "Inter";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            flex: none;
            order: 1;
            border: none;
            outline: none;
            flex-grow: 1;
        }
    }

    & > .my-rooms {
        flex-grow: 1;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 16px;
    }
    & > .my-rooms > .package-bloc {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 25%;
        margin-top: 16px;
        padding: 6px 12px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(104, 113, 130, 0.16);
    }
    
    & > .my-rooms > .package-bloc > .title{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        font-size: inherit;
        color: #14438b;
        
    }
    & > .my-rooms > .package-bloc > .title .room-detail{
        text-decoration: none;
        font-weight: bold;
        color: #14438b;
        
    }
    & > .my-rooms > .package-bloc > .room-name {
        margin-top: 8px; 
        color: rgba(20, 67, 139, 0.7);

    }
    & > .my-rooms > .package-bloc > .room-close-date {
        align-self: flex-start;
        margin-top: auto;
        color: #14438b;
        
    }
    & > .my-rooms > .package-bloc > .room-close-date .date-text{
        font-weight: bold;
        color: #14438b;
    }

}
