.gp-btn-primary {
  color: #ffffff;
  background-color: #14438b;
}
.gp-btn-primary:hover {
  color: #ffffff;
  background-color: #3075dd;
}
.gp-login-logo-img {
  width: 100px;
  height: 100px;
}

.gp-login-email {
  position: relative;
}

.gp-login-email label {
  position: absolute;
  left: 12px;
}
