@import "../libs/global/globalVariables.scss";
@import "../libs/global/globalMixin.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // box-shadow: 0 0 0 3px red inset;
}
:root {
    font-family: "Roboto", arial, helvetica, sans-serif;
    font-size: 18px;
}
body {
    margin: 0 auto;
    background-color: $page-background-color;

    & > .wrapper{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}

h1,
h2 {
    font-size: 1.25rem;
    // font-family: "Open Sans", sans-serif;
}
p {
    font-size: 1rem;
}

main {
    min-width: $page-min-width;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-top: calc($header-section-height * 2);
    padding-bottom: 1rem;
}

@mixin main-tag-max-width--960px {
    main {
        padding-top: $header-section-height;
        padding-bottom: unset;
    }
}
.container {
    @include global-container;
    @include page-max-width;
}

.hidden {
    display: none !important;
}

.flex-column {
    display: flex !important;
    flex-direction: column !important;
}
.gap-1 {
    gap: 1rem !important;
}
.fa-google {
    background: conic-gradient(
            from -45deg,
            #ea4335 110deg,
            #4285f4 90deg 180deg,
            #34a853 180deg 270deg,
            #fbbc05 270deg
        )
        73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.error {
    color: red !important;
    font-size: 0.8rem;
}
main .container .page-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.4rem;
    padding-bottom: 1rem;

    a {
        text-decoration: none;
        text-transform: lowercase;
        color: $base-color;
        cursor: pointer;
    }
    span {
        color: $gunmetal-color;
    }
}

.header .auth-return-home {
    position: relative;
    width: 100%;
    padding: 0 12px;
    top: 0;
    left: 0;
    a {
        cursor: pointer;
        text-decoration: none;
    }
}
.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .page-item {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .page-item.disabled .page-link {
        color: #6c757d;
        background-color: #fff;
        border-color: #dee2e6;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: $base-color;
        border-color: $base-color;
    }

    .page-link {
        position: relative;
        display: block;
        padding: 0.5rem 0.75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: $base-color;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #dee2e6;
    }

    .page-link:hover {
        color: $base-color;
        background-color: #e9ecef;
        border-color: #dee2e6;
    }
}
