{% extends 'gp-tracker/core/informations/informations.html.twig' %}

{% block  subtitle %} 
    Messages
{% endblock %}

{% block content %}
<div class="empty-message-container">
    <div class="empty-message-icon">
        <i class="fa-regular fa-envelope-open" style="color: #ffffff;"></i>
        <i class="fa-brands fa-creative-commons-zero"></i>
    </div>
    <div class="empty-message-content">
        <h2>Vous n'avez aucun message dans votre boîte.</h2>
        <p>Tous les messages que nous vous enverrons seront affichés ici.</p>
        <p>Restez connecté.</p>
    </div>
</div>
  
{% endblock %}