{% extends 'gp-tracker/core/informations/informations.html.twig' %}

{% block  subtitle %} 
    Adresses
{% endblock %}

{% block content %}
<div class="no-adresse-container">
    <div class="no-content-icon no-message-icon">
        <i class="fa-regular fa-book-open"></i> 
    </div> 
    <div class="message">
        <h2>Vous n’avez pas encore ajouté une adressse.</h2>
        <p>Ajouter une adresse  personnelle  pour une experience rapide!</p>
        <p>Vous pourrez les ajouter, les modifier ou les supprimer à tout moment.</p>
    </div>
    <div class="button-container">
        <div class="btn-block">
            <a class="btn btn-primary" href="#">Ajouter une adresse</a>
        </div>
    </div>
    
</div>


  
{% endblock %}