{% extends 'gp-tracker/core/informations/informations.html.twig' %}

{% block  subtitle %} 
    Packages
{% endblock %}

{% block content %}
<div class="no-content-container">
    <div class="no-content-icon no-message-icon">
        <i class="fa-regular fa-envelope-open" style="color: #ffffff;"></i>
       
    </div> 
    
    <div class="message">
        <h2>Vous n’avez aucuns colis  dans votre stock.</h2>   
        {# <p>Restez connecté.</p> #}
    </div>
    
</div>


  
{% endblock %}