{% extends 'gp-tracker/core/informations/informations.html.twig' %}

{% block  subtitle %} 
    Historiques
{% endblock %}

{% block content %}
<form action="#" class="form-info" id="packages-informations">
    <div class="package">
        <div class="package-header">
            <div class="filter">
                 <button type="submit" class="filter-button">
                    <i class="fa-solid fa-filter"></i>
                </button>
            </div>
            <div class="box">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" name="search" placeholder="search">
            </div>
        </div> 
    </div>
</form>   
<div class="my-rooms">
    <div class="package-bloc">
        <div class="title">
            <h2 class="room-title">Sunu GP</h2>
            <a href="#" class="room-detail">voir details</a>
        </div>
        <div class="room-name">
            <p class="">Salon 18CXE14</p>
        </div>

        <div class="room-close-date">
            <span class="date"> Ouvert jusqu'au</span>
            <span class="date-text">12/04/2023</span>
        </div>
    </div>
    <div class="package-bloc">
        <div class="title">
            <h2 class="room-title">Sunu GP</h2>
            <a href="#" class="room-detail">voir details</a>
        </div>
        <div class="room-name">
            <p class="">Salon 18CXE14</p>
        </div>
        <div class="room-close-date">
            <span class="date"> Ouvert jusqu'au</span>
            <span class="date-text">12/04/2023</span>
        </div>
    </div>
    <div class="package-bloc">
        <div class="title">
            <h2 class="room-title">Sunu GP</h2>
            <a href="#" class="room-detail">voir details</a>
        </div>
        <div class="room-name">
            <p class="">Salon 18CXE14</p>
        </div>
        <div class="room-close-date">
            <span class="date"> Ouvert jusqu'au</span>
            <span class="date-text">12/04/2023</span>
        </div>
    </div>
</div>


{% endblock %}