.carousel-control-icons {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -88px;
}

.carousel-control-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin-top: 44px;
  align-items: center;
}

.carousel-inner {
  position: relative;
}

.carousel-inner > .item {
  display: none;
  position: relative;
}

.carousel-inner > .item > img {
  display: block;
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-indicators {
  position: relative;
  top: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 2;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  text-indent: -999px;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  background-color: #14438b;
}

.carousel-control-icon {
  background-color: #fff;
  color: #14438b;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.carousel-control-icon:hover {
  background-color: transparent;
}
.carousel-control-icon .fa-pause {
  display: none;
}
