main > .contact-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 20px;
    padding: 32px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);

    .form-title {
        text-align: center;
        h4 {
            margin-bottom: 8px;
            color: #888;
            font-size: 18px;
        }

        h2 {
            color: #14438b;
            font-size: 20px;
        }
    }

    .form-group{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }

    .input-container {
        width: 100%;
        label {
            display: block;
            color: #888;
            text-transform: capitalize;
            font-size: 14px;
        }
        
        .form-element {
            appearance: none;
            outline: none;
            border: none;
            margin-top: 8px;
            display: block;
            width: 100%;
            border-radius: 8px;
            font-size: 1rem;
            padding: 1rem;
            background-color: #f3f3f3;
            transition: 0.4s;

            &:focus {
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
                background-color: #fff;
            }
        }

        textarea {
            // resize: none;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            max-height: 300px;
            min-height: 100px;
        }
    }

    // .input-container {
    //     grid-column: 1 / -1;
    // }

    // .input-container textarea {
    //     width: 100%;
    // }
    .submit-group {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        input[type="submit"] {
            appearance: none;
            border: none;
            outline: none;
            background: none;

            padding: 12px 16px;
            background-color: #14438b;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            transition: 0.4s;

            &:hover {
                background-color: #fff;
                color: #14438b;
            }
        }
    }
}

@mixin contact-max-width--960px {
    main > .contact-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: unset;
        border-radius: unset;
        box-shadow: unset;
    }
}
