@import "../libs/global/globalVariables.scss";
@import "../libs/global/globalFunctions.scss";
@import "../libs/global/globalMixin.scss";

.gp-header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 104px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;

    background-color: $header-background-color;

    .section-1 {
        position: relative;
        width: inherit;
        max-width: 1440px;
        height: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;

        img {
            position: absolute;
            left: 0;
            width: 181px;
            height: 28px;
            image-rendering: -moz-crisp-edges;
            image-rendering: -o-crisp-edges;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;
        }
        .content {
            position: absolute;
            right: 0;
            width: auto;
            gap: 1.4rem;
            display: -webkit-box; // Safari
            display: -webkit-flex; //Safari 6.1+ 
            display: -moz-box; // Firefox 
            display: -ms-flexbox; // IE 10 
            display: flex;
            -webkit-box-orient: horizontal; // Safari 
            -webkit-box-direction: normal; // Safari 
            -webkit-flex-direction: row; // Safari 6.1+ 
            -moz-flex-direction: row; // Firefox 
            -ms-flex-direction: row; // IE 10 
            flex-direction: row;
            -webkit-box-pack: center; // Safari 
            -moz-justify-content: center; // Firefox 
            -ms-flex-pack: center; // IE 10 
            justify-content: center;
            
            // background-color: red;
        }
    }
}
.gp-header .section-1 .content{
    .language-switcher{
        color: $txt-color-2;
    }
    .buttons{

    }
}