@import "../libs/global/globalVariables.scss";
@import "../libs/global/globalFunctions.scss";
@import "../libs/mixins/AuthMixins.scss";
@import "../libs/global/globalMixin.scss";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
.gp-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.gp-nav .top_nav {
  margin-top: 5px;
  width: 100%;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gp-nav .top_nav .left {
  display: flex;
  align-items: center;

  .logo {
    width: 60px;
    margin-right: 25px;
  }
}

.gp-nav .top_nav .right ul {
  display: flex;

  li {
    margin: 0 12px;

    a {
      color: black;
      font-size: 14px;
    }
  }
}

.gp-nav .bottom_nav {
  width: 100%;
  background: #f9f9f9;
  height: 45px;
  padding: 0 50px;

  ul {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
  }
  li {
    margin: 0 50px;
    position: relative;
  }

  a {
    font-size: 25px;
    color: black;
    background-color: transparent;
    transition: background-color 0.2s ease;
    padding: 5px;
  }

  li.active a,
  li:hover a,
  li:focus a {
    background-color: $hover-btn-1;
  }

  li.active::after,
  li:hover::after,
  li:focus::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $txt-color-5;
  }
  li:hover a {
    background-color: $hover-btn;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: $base-color;
  color: #fff;
  padding: 100px 0 30px;
  font-size: 13px;
  line-height: 20px;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
  margin-left: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ffffff;
  height: 3px;
  box-sizing: border-box;
  width: 80px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: #ffffff;
  color: $txt-color-4;
}
