main > .container {
    & > .search-salon {
        position: absolute;
        top: 2.5rem;
        align-self: center;
        width: 100vw;
        max-width: 1280px;
        z-index: 1;
    }
    & > .slideshow-container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 600px;
        // flex-wrap: wrap;
        // align-content: center;
    }
}

main > .container > .search-salon {
    & > .nav {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 0.4rem;
        list-style-type: none;
    }
    & > .content {
        display: flex;
        flex-direction: row;
        width: inherit;
        max-width: inherit;
        min-height: 134px;
        padding: 1rem;
        background-color: $white-color;
    }
}

main > .container > .search-salon > .nav {
    & > li {
        position: relative;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 4px 4px 0 0;
    }
    & > .search {
        background-color: $white-color;
    }
    & > .create {
        color: $txt-color-1;
        background-color: $black-color;
    }
}

main > .container > .search-salon > .nav > li {
    & > a {
        text-decoration: none;
        color: inherit;
    }
}

main > .container > .slideshow-container {
    & > .my-slides {
        position: absolute;
        display: none;
        width: 100%;
        height: inherit;
        animation: slider-fade 3s;
    }

    & > .show {
        opacity: 1;
        display: block;
    }

    & > .buttons {
        position: absolute;
        bottom: 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 0.8rem;
    }
}

main > .container > .slideshow-container > .my-slides {
    & > img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
}

main > .container > .slideshow-container > .buttons {
    & > button {
        position: relative;
        width: 32px;
        height: 32px;
        color: $txt-color-2;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;

        background-color: #fff;
        border: none;
        border-radius: 50%;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
        outline: none;
    }
    & > ul {
        width: fit-content;
        max-width: 160px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        gap: 0.8rem;
        align-items: center;
        list-style-type: none;
    }
}

main > .container > .slideshow-container > .buttons > ul {
    & > li {
        cursor: pointer;
    }
    & > .dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    }
    & > .active {
        background-color: $black-color;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
    }
}
