@import "../libs/global/globalVariables.scss";
@import "../libs/global/globalFunctions.scss";
@import "../libs/mixins/AuthMixins.scss";
@import "../libs/global/globalMixin.scss";

.gp-new-pass-container {
    @include global-container;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 0 0 0;
    gap: 12px;
}
.gp-new-pass-container .header {
    @include auth-container-el;
    gap: 12px;

    img {
        width: 100px;
        height: 100px;
        margin: 0 0 6px 0;
    }
    p {
        font-size: 0.9rem;
        margin-top: 6px;
        color: $black-color;
        text-align: center;
        margin: unset;
    }
}

.gp-new-pass-container .body {
    @include auth-container-el;
    padding-top: 16px;

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    & input {
        @include auth-input($borderColor: $base-color);
        margin-bottom: 10px;
    }
}

.gp-new-pass-container .body form {
    & input {
        @include auth-input($borderColor: $base-color);
    }

    & button {
        @include auth-buttons($btn-color-1);
    }

    @include login-register-redirect;
}
