{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   About us
{% endblock %}

{% block body %}

<main>
    <div class="container gp-about-us">
        <div class="section introduction">
            <img src="{{asset('theme/assets/img/logo/questions.png')}}" alt="who-we-are"/>
            <div class="content">
                <h2>Presentation</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in risus lacus. Nulla vehicula facilisis lorem id eleifend. Maecenas dignissim est nec massa malesuada, at pellentesque felis sollicitudin. Ut id massa condimentum, commodo odio at turpis duis.</p>
            </div>
        </div>
        <div class="section goal">
            <img src="{{asset('theme/assets/img/logo/Team-goals.png')}}" alt="missions0"/>
            <div class="content">
                <h2>Missions</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in risus lacus. Nulla vehicula facilisis lorem id eleifend. Maecenas dignissim est nec massa malesuada, at pellentesque felis sollicitudin. Ut id massa condimentum, commodo odio at turpis duis.</p>
            </div>
        </div>
        <div class="section team">
            <img src="{{asset('theme/assets/img/logo/duo-teams.png')}}" alt="team-image"/>
            <div class="content">
                <p>ViewPoint  c’est avant tout une équipe de passionnés !  Ceci est un exemple</p>
            </div>
        </div>
    </div>
</main>
    
{% endblock %}
