{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Conditions Generales
{% endblock %}

{% block body %}

<main class="cu-container">
   <div class="cu-main">
    <div class="row">
        <p class="head-title">Conditions Générales d'Utilisation de GP-Tracker
        </p>
        <div class= "line"></div>
    </div>
    <div class="gp-menu">
        Contenu <br/><br/>
        <ul class = "gp-menu-list">
            <li><a href="#" class="menu-title"> Introduction</a></li>
            <li><a href="#" class="menu-title"> Inscription et compte</a></li>
            <li><a href="#" class="menu-title"> Accès aux services</a></li>
            <li><a href="#" class="menu-title"> Responsabilité et Communication avec les Transporteurs</a></li>
            <li><a href="#" class="menu-title"> Paiements</a></li>
            <li><a href="#" class="menu-title"> Responsabilité de l’ Éditeur</a></li>
            <li><a href="#" class="menu-title"> Promotions</a></li>
            <li><a href="#" class="menu-title"> Règles concernant votre contenu</a></li>
            <li><a href="#" class="menu-title"> Nos droits d'utilisation de votre contenu</a></li>
            <li><a href="#" class="menu-title"> Utilisation du site Web et des applications mobiles</a></li>
            <li><a href="#" class="menu-title"> Propriété intellectuelle </a></li>
            <li><a href="#" class="menu-title"> Confidentialité des données </a></li>
            <li><a href="#" class="menu-title"> Propriété intellectuelle</a></li>
        </ul>
    </div>

    <h2 class="subtitle">1. Introduction</h2>
    <p class="cu-texte">
        &emsp;1.1.  Nous sommes ravis de vous accueillir sur <b>GP-Tracker</b> votre plateforme dédiée à la gratuité partielle de services
        exceptionnels. Chez <b>GP-Tracker</b>, notre mission est de rendre accessible une partie de nos services de haute qualité sans
        frais, afin de soutenir nos utilisateurs dans la réalisation de leurs objectifs.
        <br/>
        <br/>
    </p>
    <p class="cu-texte">
        &emsp;1.2. Chez <b>GP-Tracker</b>, nous nous engageons à offrir une expérience utilisateur exceptionnelle tout en protégeant la
        sécurité et la confidentialité de vos informations. Nous encourageons également une communauté respectueuse, où
        chacun peut profiter pleinement de nos services dans un environnement harmonieux.
        <br/>
    </p><br/>

    <p class="cu-texte">
        &emsp;1.3.  En utilisant <b>GP-Tracker</b>, vous acceptez de vous conformer à ces conditions générales ainsi qu'à notre politique de
        confidentialité. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter. Votre satisfaction
        est notre priorité.
        <br/>
    </p><br/>

    <p class="cu-texte">
        &emsp;1.4.  Nous espérons que <b>GP-Tracker</b> vous aidera à atteindre de nouveaux sommets et à découvrir tout votre potentiel.
        Merci de nous rejoindre dans cette aventure enrichissante !
        <br/>
        <br/>
    </p><br/>


    <h2  class="subtitle">2. Inscription et compte</h2>
    <p class="cu-texte">
        &emsp;2.1.  Si vous vous inscrivez pour créer un compte sur notre plateforme, il vous sera demandé de fournir une adresse électronique ou un identifiant d'utilisateur et un mot de passe, et vous acceptez de :
        <br/>
        &emsp;&emsp;2.1.1.  garder votre mot de passe confidentiel;
        <br/>
        &emsp;&emsp;2.1.2.  nous informer immédiatement par écrit (dans la partie contact de notre application), si vous avez connaissance de toute divulgation de votre mot de passe; et
        <br/>
        &emsp;&emsp;2.1.3.  être responsable de toute activité sur notre palteforme résultant d'un manquement à la confidentialité de votre mot de passe, et vous reconnaissez que vous pouvez être tenu pour responsable de toute perte résultant d'un tel manquement.
        <br/>
    </p>

    <p  class="cu-texte">
        &emsp;2.2.  Votre compte doit être utilisé exclusivement par vous et vous ne devez en aucun cas transférer votre compte à un tiers. Si vous autorisez un tiers à gérer votre compte en votre nom, vous le faites à vos propres risques.
    </p><br/>

    <p class="cu-texte">
        &emsp;2.3.  Nous pouvons suspendre ou annuler votre compte, et / ou modifier les détails de votre compte, à tout moment, à notre seule discrétion et sans préavis ni explication,si nous voyons une activite illegale.
    </p><br/>

    <p  class="cu-texte">
        &emsp;2.4.  Vous pouvez, à tout moment, vous désinscrire et supprimer votre compte (voir les parametres de votre compte).
    </p><br/>

    <h2  class="subtitle">3. Accès aux services</h2>
    <p class="cu-texte">
        &emsp;3.1. Le site est ouvert à toute personne disposant de la capacité juridique nécessaire pour conclure un contrat. Afin de profiter de nos services, une inscription en tant que "GP" (utilisateur général) ou "Utilisateur" est obligatoire. Cette démarche d'inscription vise à garantir une expérience utilisateur personnalisée et sécurisée.<br/>
        &emsp;&emsp;3.2  ors du processus d'inscription, l'Utilisateur est tenu de fournir des informations exactes, telles que son nom, son adresse e-mail et toute autre donnée nécessaire. Ces informations permettent d'établir un compte unique pour chaque Utilisateur, facilitant ainsi l'accès aux services du site. De plus, l'Utilisateur s'engage à maintenir ses informations à jour en cas de changement.
        <br/>
        &emsp;&emsp;3.3   Il est important de noter que tout Utilisateur disposant d'un accès à Internet peut se connecter gratuitement au site, et ce, depuis n'importe quel endroit. L'accès n'engendre aucuns frais supplémentaires dus à l'Éditeur du site. En effet, l'Utilisateur est responsable des coûts liés à sa connexion Internet, son matériel informatique ou tout autre dispositif nécessaire pour accéder au site. L'Éditeur ne facture aucun frais pour la simple utilisation du site.
        <br/>
    </p><br/>

    <p  class="cu-texte">
        &emsp;3.4.  Avantages pour les Utilisateurs :
        <br/>
        &emsp;&emsp;3.4.1.  Services personnalisés : Une fois inscrit, l'Utilisateur bénéficie d'un accès personnalisé aux différentes fonctionnalités du site, adaptées à ses préférences et besoins spécifiques.
        <br/>
        &emsp;&emsp;3.4.2.  Contenu riche et diversifié : Le site offre un large éventail de contenus, de services ou de produits pouvant intéresser chaque Utilisateur en fonction de ses centres d'intérêt.
        <br/>
        &emsp;&emsp;3.4.3.  Facilité d'utilisation : Le site est conçu pour être convivial, permettant ainsi une navigation aisée et intuitive.
        <br/>
        &emsp;&emsp;3.5.4.  Assistance clientèle : L'inscription permet également aux Utilisateurs d'accéder à un service d'assistance clientèle pour toute question, problème technique ou requête particulière.
        
    </p><br/>


    <h2 class="subtitle">4. Responsabilité et Communication avec les Transporteurs</h2>

    <p class="cu-texte">
        &emsp;4.1.  Nous souhaitons vous informer que notre responsabilité en ce qui concerne votre communication avec votre transporteur est limitée. Bien que nous nous efforcions de fournir un service de qualité et de vous assister dans la mesure du possible, il est important que vous compreniez certains aspects essentiels relatifs à cette relation.
    </p><br/>

    <p class="cu-texte">
        &emsp;4.2.  Communication avec le Transporteur :Lorsque vous faites appel à un transporteur pour la livraison de produits ou services, nous vous encourageons à entretenir une communication claire et régulière avec eux. Nous vous recommandons de vérifier toutes les informations importantes telles que l'adresse de livraison, les délais, les modalités de paiement, et de vous assurer que tout est en ordre avant de finaliser la transaction.<br/>
        &emsp;&emsp;4.2.1.  Responsabilité Limitée :
Veuillez noter que notre rôle se limite à faciliter votre communication avec le transporteur en vous fournissant les informations nécessaires et en agissant en tant qu'intermédiaire. Nous ne sommes pas responsables des actions ou des erreurs commises par le transporteur pendant le processus de livraison.<br/>

        &emsp;&emsp;4.2.2.  Suivi de la Livraison :
Bien que nous puissions vous fournir des informations de suivi et des mises à jour sur l'état de votre livraison, veuillez garder à l'esprit que ces données sont basées sur les informations fournies par le transporteur lui-même. Des retards ou des imprévus peuvent survenir indépendamment de notre contrôle.
        <br/>
        &emsp;&emsp;4.2.3.  Précautions à prendre :
Nous vous conseillons également de prendre certaines précautions, telles que vérifier l'état de vos produits à la réception, noter tout dommage éventuel sur le bon de livraison, et conserver les preuves de communication avec le transporteur au cas où des problèmes surviendraient.
    </p><br/>

    <p class="cu-texte">
        &emsp;4.3.  Collaboration et Médiation :
En cas de litige avec le transporteur, nous vous encourageons à chercher une solution amiable en collaborant directement avec eux. Si cela s'avère difficile, envisagez de faire appel à un service de médiation indépendant pour résoudre le différend.
    </p><br/>

    <p class="cu-texte">
        &emsp;4.4.  Les modifications apportées à notre page des retours ou des remboursements seront effectives pour tous les achats effectués à partir de la date de publication de la modification sur notre site web.
    </p><br/>

    <h2 class="subtitle">5. Paiements</h2>
    <p class="cu-texte">
        &emsp;5.1.  Le prix peut être négocié directement avec le transporteur, et il est important de noter que nous déclinons toute responsabilité concernant le tarif proposé sur <b>GP-Tracker</b>.
    </p><br/>

    <h2  class="subtitle">6. Responsabilité de l’Éditeur</h2>
    <p class="cu-texte">
        &emsp;6.1.  Les crédits magasin peuvent être gagnés et gérés conformément aux conditions générales des crédits magasin de Jumia, telles qu'elles peuvent être modifiées de temps à autre. Jumia se réserve le droit d'annuler ou de retirer les récompenses de crédit de magasin Jumia pour toute raison à sa discrétion, y compris si nous soupçonnons une fraude ou un acte illicite. Vous pouvez consulter les conditions générales de Jumia relatives aux crédits magasin et les informations sur votre compte relatif aux crédits magasin Jumia (Jumia store credit account) sur notre site Web et notre application mobile.
    </p><br/>

    <h2 class="subtitle">7. Promotions</h2>
    <p class="cu-texte">
        &emsp;7.1.  Les promotions et concours organisés par Jumia et/ou d'autres promoteurs ou annonceurs seront gérés conformément aux Conditions Générales des Promotions, lorsqu’elles sont applicables. Vous pouvez consulter les Conditions Générales des Promotions, lorsqu’elles s’appliquent, sur notre site web ou application mobile. 
    </p><br/>

    <h2  class="subtitle">8. Règles concernant votre contenu</h2>
    <p class="cu-texte">
        &emsp;8.1.  Dans les présentes conditions générales, "votre contenu" signifie:<br/>
        &emsp;&emsp;8.1.1. toutes les œuvres et tous les matériaux (y compris, sans s'y limiter, les textes, les graphiques, les images, le matériel audio, le matériel vidéo, le matériel audiovisuel, les scripts, les logiciels et les fichiers) que vous nous soumettez ou que vous soumettez à notre place de marché pour stockage ou publication, traitement ou transmission ultérieure ; et
        <br/>
        &emsp;&emsp;8.1.2.  toutes les communications sur notre marketplace, y compris les avis et évaluations sur les produits, les remarques, les réactions et les commentaires.
        <br/>
        &emsp;8.2.  Votre contenu et l'utilisation de votre contenu par nous, conformément aux présentes conditions générales, doit être exact, complet et authentique.<br/>
        &emsp;8.3.  Votre contenu doit être approprié, civil et de bon goût, et être conforme aux normes d'éthique et de comportement généralement acceptés sur Internet, et ne doit pas:
        <br/>
        &emsp;&emsp;8.3.1.  être offensant, obscène, indécent, pornographique, suggestif ou sexuellement explicite;
        <br/>
        &emsp;&emsp;8.3.2.  dépeindre la violence de manière explicite, graphique ou gratuite; ou
        <br/>
        &emsp;&emsp;8.3.3.  être blasphématoire, en violation de la législation sur la haine raciale ou religieuse ou la discrimination;
        <br/>
        &emsp;&emsp;8.3.4.  être trompeur, frauduleux, menaçant, abusif, harcelant, antisocial, haineux, discriminatoire ou provoquant;
        <br/>
        &emsp;&emsp;8.3.5.  causer de la gêne, des désagréments ou une anxiété inutile à quiconque; ou
        <br/>
        &emsp;&emsp;8.3.6.  constitue un spam.
        <br/>
        &emsp;8.4.  Votre contenu ne doit pas être illégal ou illicite, enfreindre les droits légaux de toute personne ou être susceptible de donner lieu à une action en justice contre toute personne (dans chaque cas, dans toute juridiction et en vertu de toute loi applicable).  Votre contenu ne doit pas enfreindre ou violer:
        <br/>
        &emsp;&emsp;8.4.1.  tout droit d'auteur, droit moral, droit de base de données, droit de marque, droit de conception de dessins et modèles, droit de substitution ou tout autre droit de propriété intellectuelle;
        <br/>
        &emsp;&emsp;8.4.2.  tout droit de confidentialité, droit relatif à la vie privée ou droit en vertu de la législation sur la protection des données;
        <br/>
        &emsp;&emsp;8.4.3.  toute obligation contractuelle à l’égard de toute personne; ou
        <br/>
        &emsp;&emsp;8.4.4.  toute ordonnance du tribunal ou décision judiciaire.
        <br/>
        &emsp;8.5.  Vous ne devez pas utiliser notre marketplace pour établir un lien vers un site web ou une page web consistant en ou contenant un élément ou contenu qui, s'il était publié sur notre marketplace, violerait les dispositions des présentes conditions générales.
        <br/>
        &emsp;8.6.  Vous ne devez pas soumettre à notre marketplace tout matériel ou contenu qui fait l'objet de menace de poursuite judiciaire ou de réelle poursuite judiciaire ou de toute autre plainte similaire.
        <br/>
        &emsp;8.7.  La fonction qui permet aux utilisateurs sur notre marketplace de donner leur avis et commentaires peut être utilisée pour faciliter les évaluations des produits par les acheteurs. Vous ne devez pas utiliser ladite fonction ou toute autre forme de communication pour fournir des évaluations et/ou des avis inexacts, inauthentiques ou faux.
        <br/>
        &emsp;8.8.  Vous ne devez pas interférer avec une transaction en: (i) contactant un autre utilisateur pour acheter ou vendre un article listé sur notre marketplace en dehors de notre marketplace; ou (ii) communiquer avec un utilisateur impliqué dans une transaction active ou terminée pour l'avertir d’éviter un acheteur, un vendeur ou un article particulier; ou (iii) contacter un autre utilisateur dans l’intention de percevoir des paiements.
        <br/>
        &emsp;8.9.  Vous reconnaissez que tous les utilisateurs de notre marketplace sont seuls responsables des interactions avec les autres utilisateurs et vous devez faire preuve de prudence et de bon sens dans votre communication avec les utilisateurs. Vous ne devez pas leur envoyer des informations personnelles, y compris les détails de votre carte de crédit et tout moyen de paiement.
        <br/>
        &emsp;8.10. Nous pouvons examiner périodiquement votre contenu et nous nous réservons le droit de supprimer tout contenu à notre discrétion pour quelque raison que ce soit.
        <br/>
        &emsp;8.11. Si vous avez connaissance de tout élément, contenu ou activité illégale et illicite sur notre marketplace, ou de tout élément, contenu ou activité qui enfreint les présentes conditions générales, vous pouvez nous en informer en nous contactant aux coordonnées définies à la section 26 ci-dessous.
        <br/>
    </p><br/>

    <h2 class="subtitle">9. Nos droits d’utilisation de votre contenu</h2>

    <p class="cu-texte">
        &emsp;9.1.  Vous nous accordez une licence mondiale, irrévocable, non exclusive et libre de redevance pour utiliser, reproduire, stocker, adapter, publier, traduire et distribuer votre contenu sur notre marketplace, et à travers nos canaux de marketing et tout média existant ou futur..
        <br/>
        &emsp;9.2.  Vous nous accordez le droit de sous-licencier les droits concédés en vertu de l'article 9.1.
        <br/>
        &emsp;9.3.  Vous nous accordez le droit d'intenter une action en justice pour violation des droits concédés en vertu de l'article 9.1.
        <br/>
        &emsp;9.4.  Vous renoncez par la présente à tous vos droits moraux sur votre contenu dans la limite autorisée par la loi applicable; et vous garantissez et déclarez que tous les autres droits moraux sur votre contenu ont fait l’objet d’une renonciation dans la mesure maximale autorisée par la loi applicable.
        <br/>
        &emsp;9.5.  Sans préjudice de nos autres droits en vertu des présentes conditions générales, si vous enfreignez nos règles sur le contenu de quelque manière que ce soit, ou si nous soupçonnons raisonnablement que vous avez enfreint nos règles sur le contenu, nous pouvons supprimer, annuler la publication ou modifier tout ou partie de votre contenu.
        <br/>
    </p><br/>

    <h2 class="subtitle">10. Utilisation du site web et des applications mobiles</h2>

    <p class="cu-texte">
        &emsp;10.1. Dans cette section 10, les mots «marketplace» et «site web» doivent être utilisés de manière interchangeable pour désigner le site web et les applications mobiles de Jumia.
        <br/>
        &emsp;10.2. Vous pouvez:
        <br/>
        &emsp;&emsp;10.2.1. visualiser les pages de notre site web dans un navigateur web;
        <br/>
        &emsp;&emsp;10.2.2. télécharger des pages de notre site Web pour la mise en cache dans un navigateur web;
        <br/>
        &emsp;&emsp;10.2.3. imprimer des pages de notre site web pour votre usage personnel et non commercial, à condition que cette impression ne soit pas systématique ou excessive;
        <br/>
        &emsp;&emsp;10.2.4. diffuser des fichiers audio et vidéo à partir de notre site web à l'aide du lecteur multimédia de notre site web; et
        <br/>
        &emsp;&emsp;10.2.5. utiliser nos services de marketplace au moyen d’un navigateur internet, sous réserve du respect des autres dispositions des présentes conditions générales.
        <br/>
        &emsp;10.3. Sauf dans les cas expressément autorisés par la section 10.2 ou les autres dispositions des présentes conditions générales, vous ne devez télécharger aucun élément de notre site web ni enregistrer un tel élément sur votre ordinateur.
        <br/>
        &emsp;10.4. Vous ne pouvez utiliser notre site web qu'à des fins personnelles et professionnelles pour vendre ou acheter des produits sur notre marketplace.
        <br/>
        &emsp;10.5. Sauf dans les cas expressément autorisés par les présentes conditions générales, vous ne devez pas éditer ou modifier, de quelque manière que ce soit,  tout élément ou matériel de notre site web.
        <br/>
        &emsp;10.6. À moins que vous ne possédiez ou ne contrôliez des droits réels et pertinents sur le matériel ou le contenu en subtitle, vous ne devez pas:
        <br/>
        &emsp;&emsp;10.6.1. republier le contenu ou le matériel de notre site web (y compris la publication sur un autre site web);
        <br/>
        &emsp;&emsp;10.6.2. vendre, louer ou concéder en sous-licence du contenu ou du matériel de notre site web;
        <br/>
        &emsp;&emsp;10.6.3. montrer tout matériel ou contenu de notre site web en public;
        <br/>
        &emsp;&emsp;10.6.4. exploiter le matériel ou contenu de notre site web à des fins commerciales; ou
        <br/>
        &emsp;&emsp;10.6.5. redistribuer le matériel ou le contenu de notre site web.
        <br/>
        &emsp;10.7. Nonobstant la section 10.6, vous pouvez transmettre des liens vers des produits sur notre site web et redistribuer notre bulletin d'information (newsletter) et notre matériel promotionnel sous forme imprimée et électronique à toute personne.
        <br/>
        &emsp;10.8. Nous nous réservons le droit de suspendre ou de restreindre l'accès à notre site web, à certaines parties de notre site web et / ou aux fonctionnalités de notre site web. Nous pouvons, par exemple, suspendre l'accès au site web pendant la maintenance du serveur ou lorsque nous mettons à jour le site web. Vous ne devez pas contourner, ou tenter de contourner, toute mesure de restriction d'accès sur le site web.
        <br/>
        &emsp;10.9. Vous ne devez pas:
        <br/>
        &emsp;&emsp;10.9.1. utiliser notre site web de quelque manière que ce soit ou prendre des mesures qui causent ou peuvent causer des dommages au site web ou une altération des performances, de la disponibilité, de l'accessibilité, de l'intégrité ou de la sécurité du site web;
        <br/>
        &emsp;&emsp;10.9.2. utiliser notre site web d'une manière contraire à l'éthique, illégale, illicite, frauduleuse ou nuisible, ou en relation avec une activité ou un objectif illégal, frauduleux ou nuisibles;
        <br/>
        &emsp;&emsp;10.9.3. pirater ou altérer par tout autre moyen notre site web;
        <br/>
        &emsp;&emsp;10.9.4. sonder, scanner ou tester la vulnérabilité de notre site web sans notre autorisation;
        <br/>
        &emsp;&emsp;10.9.5. contourner tout système ou processus d'authentification ou de sécurité sur notre site web ou en relation avec ce dernier;
        <br/>
        &emsp;&emsp;10.9.6. utiliser notre site web pour copier, stocker, héberger, transmettre, envoyer, utiliser, publier ou distribuer tout matériel ou contenu constitué de (ou lié à) tout logiciel espion, virus informatique, cheval de Troie, ver, enregistreur de frappe, rootkit ou tout autre logiciel informatique malveillant ;
        <br/>
        &emsp;&emsp;10.9.7. imposer une charge déraisonnablement élevée sur les ressources de notre site web (y compris la bande passante, la capacité de stockage et la capacité de traitement);
        <br/>
        &emsp;&emsp;10.9.8. déchiffrer ou décrypter toute communication envoyée par ou vers notre site web sans notre autorisation;
        <br/>
        &emsp;&emsp;10.9.9. mener des activités de collecte de données systématiques ou automatisées (y compris, sans limitation, le grattage, l'exploration de données, l'extraction de données et la collecte de données) sur ou en relation avec notre site web sans notre consentement écrit exprès;
        <br/>
        &emsp;&emsp;10.9.10. accéder à notre site web ou interagir autrement avec celui-ci à l'aide de tout robot, araignée ou tout autre moyen automatisé, sauf à des fins d'indexation des moteurs de recherche;
        <br/>
        &emsp;&emsp;10.9.11. utiliser notre site web sauf par le biais de nos interfaces publiques;
        <br/>
        &emsp;&emsp;10.9.12. enfreindre les directives énoncées dans le fichier robots.cu-texte de notre site web;
        <br/>
        &emsp;&emsp;10.9.13. utiliser les données collectées sur notre site web pour toute activité de marketing direct (y compris, sans limitation, le marketing par courrier électronique, le marketing par SMS, le télémarketing et le publipostage); ou
        <br/>
        &emsp;&emsp;10.9.14. faire tout ce qui interfère avec l'utilisation normale de notre site web.
        <br/>
    </p><br/>

    <h2 id="q11" class="subtitle listformat">11. Propriété intellectuelle </h2>

    <p style="text-align: justify;" class="cu-texte">
        &emsp;11.1. Sous réserve des dispositions expresses des présentes conditions générales:
        <br/>
        &emsp;&emsp;11.1.1. nous, ainsi que nos concédants de licence, détenons et contrôlons tous les droits d'auteur et autres droits de propriété intellectuelle sur notre site web ainsi que sur le matériel et tout contenu sur notre site web; et
        <br/>
        &emsp;&emsp;11.1.2. tous les droits d'auteur et autres droits de propriété intellectuelle sur notre site web ainsi que le matériel et contenu sur notre site web sont réservés.
        <br/>
        &emsp;11.2. Les logos de Jumia et nos autres marques déposées et non déposées sont des marques qui nous appartiennent; nous n'accordons aucune autorisation pour l'utilisation de ces marques, et une telle utilisation peut constituer une violation de nos droits.
        <br/>
        &emsp;11.3. Les marques déposées et non déposées de tiers ou les marques de service sur notre site web sont la propriété de leurs propriétaires respectifs et nous n'approuvons pas et ne sommes pas affiliés à l'un des détenteurs de ces droits et, en tant que tel, nous ne pouvons accorder aucune licence pour exercer ces droits..
        <br/>
    </p><br/>
</main>
    
{% endblock %}
