{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
    Forgot Password
{% endblock %}

{% block body %}
    <div class="gp-fg-password-container">
        <div class="header">
            <img src="{{asset('theme/assets/img/logo/gp-tracker-logo-1.png')}}" alt="Logo Gp-tracker" class="logo">
            <p>Vous pouvez demander une réinitialisation du mot de passe. Nous enverrons un code de sécurité par e-mail pour nous assurer que c'est bien vous qui y accédez.</p>
        </div>
        <div class="body">
            <form action="#" method="post">
                <div>
                    <input type="email" name="email" value="email" id="input-email" placeholder="Entrez votre Email" autocomplete="email" required autofocus>
                </div>
                <button type="submit">Demander la réinitialisation du mot de passe</button>
            </form>
        </div>
    </div>
{% endblock %}