{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

<main>
    <div class="container">
        <!-- START SEARCH SALON SECTION -->
        <div class="search-salon">
            <ul class="nav">
                <li class="search">
                    <i class="fa-solid fa-plane"></i>
                    <span>Rechercher un salon</span>
                </li>
                <li class="create">
                    <a href="#">
                        <i class="fa-solid fa-plus"></i>
                        <span>Créer un salon</span>
                    </a>
                </li>
            </ul>
            <form class="content" action="">
                <div class="departure">
                    <label for="departure">Départ de (*)</label>
                    <div>
                        <i class="fa-solid fa-plane-departure"></i>
                        <input type="text" name="departure" id="departure" required>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="arrival">
                    <label for="arrival">Arrivée à (*)</label>
                    <div>
                        <i class="fa-solid fa-plane-arrival"></i>
                        <input type="text" name="arrival" id="arrival" required>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="price">
                    <label for="price">Prix/Kg</label>
                    <div>
                        <i class="fa-solid fa-dollar-sign"></i>
                        <input type="text" name="price" id="price">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <button>Rechercher</button>
            </form>
        </div>
        <!-- END SEARCH SALON SECTION -->

        <!-- START SLIDER SECTION -->
        <div class="slideshow-container" id="slideshow-container">
            <div class="my-slides show">
                <img src="{{asset('theme/assets/img/slider/main-background.png')}}" alt="slider"> 
            </div>
            <div class="my-slides">
                <img src="{{asset('theme/assets/img/slider/img1.jpg')}}" alt="slider"> 
            </div>
            <div class="my-slides">
                <img src="{{asset('theme/assets/img/slider/img2.jpg')}}" alt="slider"> 
            </div>
            <div class="buttons">
                <button class="back">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="pause-play">
                        <i class="fa-solid fa-pause"></i>
                        <i class="fa-solid fa-play hidden"></i>
                </button>
                <ul>
                    <li class="dot active"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ul>
                <button class="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        <!-- END SLIDER SECTION -->
    </div>
</main>
    
{% endblock %}
