{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

    <main>
        <div class="container">
            
        </div>
    </main>
    
{% endblock %}
