
{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}
    <div class="gp-nav">
        <div class="top_nav">
            <div class="left">
                <a href="#">
                    <img class="logo" src="{{asset('theme/assets/img/logo/gp-tracker-logo-1.png')}}" alt="Logo">
                </a>
            </div> 
            <div class="right">
                <ul>
                    <li><a href="?lang=fr">FR</a> | <a href="?lang=en"> EN</a></li>
                    <li><a href="#"> <i class="fa fa-user" aria-hidden="true"></i> Se connecter</a></li>
                    <li><a href="#"> <i class="fa-solid fa-user-plus" aria-hidden="true"></i> Creer mon compte</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom_nav">
            <ul>
                <li class="active"><a href="#">Accueil</a></li>
                <li><a href="#">Salons</a></li>
                <li><a href="#">Informations</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </div>
   <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>Menu Rapide</h4>
            <ul>
              <li><a href="#">Accueil</a></li>
              <li><a href="#">Salons</a></li>
              <li><a href="#">Mes colis</a></li>
              <li><a href="#">Information</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>A propos</h4>
            <ul>
              <li><a href="#">Qui sommes nous ?</a></li>
              <li><a href="#">Notification sur la confidentialité</a></li>
              <li><a href="#">Notification sur les cookies de GP-Tracker</a></li>
              <li><a href="#">Politique de protection des droits de propriété intellectuelle</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
          <p>Copyright &copy; 2023 - All Rights Reserved By GP Tracker</p>
        </div>
    </footer>

{% endblock %}
