{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}
    
    <main>
            {# <div class="carousel-wrapper">
            <img src="{{asset('theme/assets/img/slider/main-background.png')}}" alt="Image 1">
        </div> #}
        <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                    <img src="{{asset('theme/assets/img/slider/main-background.png')}}" alt="Image 1">
                    </div>

                    <div class="item">
                    <img src="{{asset('theme/assets/img/slider/img2.jpg')}}" alt="Image 2">
                    </div>

                    <div class="item">
                    <img src="{{asset('theme/assets/img/slider/img1.jpg')}}" alt="Image 3">
                    </div>
                </div>

                <!-- Controls -->
                <div class="carousel-control-icons">
                    <a class="carousel-control-icon prev" href="#myCarousel" data-slide="prev">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-icon start" href="#myCarousel" data-slide="pause">
                        <i class="fas fa-pause"></i>
                        <i class="fas fa-play"></i>
                    </a>
                    <!-- indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <a class="carousel-control-icon next" href="#myCarousel" data-slide="next">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    <!--  forms -->
    
    </main>
    
{% endblock %}
