{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

<main>
    <div class="container">
        {# START SEARCH ROOM SECTION  #}
        <div class="search-salon">
            <ul class="nav">
                <li class="search">
                    <i class="fa-solid fa-plane"></i>
                    <span>Rechercher un salon</span>
                </li>
                <li class="create">
                    <a href="#">
                        <i class="fa-solid fa-plus"></i>
                        <span>Créer un salon</span>
                    </a>
                </li>
            </ul>
            <form class="content" action="">
                <div class="departure">
                    <label for="departure">Départ de (*)</label>
                    <div>
                        <i class="fa-solid fa-plane-departure"></i>
                        <input type="text" name="departure" id="departure" required>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="arrival">
                    <label for="arrival">Arrivée à (*)</label>
                    <div>
                        <i class="fa-solid fa-plane-arrival"></i>
                        <input type="text" name="arrival" id="arrival" required>
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <div class="price">
                    <label for="price">Prix/Kg</label>
                    <div>
                        <i class="fa-solid fa-dollar-sign"></i>
                        <input type="text" name="price" id="price">
                        <i class="fa-solid fa-xmark"></i>
                    </div>
                </div>
                <button>Rechercher</button>
            </form>
        </div>
        {# END SEARCH ROOM SECTION  #}

        {# START SLIDER SECTION  #}
        <div class="slideshow-container" id="slideshow-container">
            <div class="my-slides show">
                <img src="{{asset('theme/assets/img/slider/main-background.png')}}" alt="slider"> 
            </div>
            <div class="my-slides">
                <img src="{{asset('theme/assets/img/slider/img1.jpg')}}" alt="slider"> 
            </div>
            <div class="my-slides">
                <img src="{{asset('theme/assets/img/slider/img2.jpg')}}" alt="slider"> 
            </div>
            <div class="buttons">
                <button class="back">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>
                <button class="pause-play">
                        <i class="fa-solid fa-pause"></i>
                        <i class="fa-solid fa-play hidden"></i>
                </button>
                <ul>
                    <li class="dot active"></li>
                    <li class="dot"></li>
                    <li class="dot"></li>
                </ul>
                <button class="next">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>
        {# END SLIDER SECTION  #}
        {# START ROOMS AND CARRIER SECTION  #}
        <div class="rooms-carriers">
            <h2>Annonces</h2>
            <div class="content">
                <ul class="nav">
                    <li class="active">Salon</li>
                    <li>Top transporteurs</li>
                </ul>
                <div class="rooms" id="room-list-container">
                    <div class="room">
                        <h4>SUNU GP</h4>
                        <div class="trip">
                            <div class="trip-list">
                                <div class="departure-arrival">
                                    <span class="departure">Paris</span>
                                    <span class="scheme" >
                                        <span class="dot dot-1"></span>
                                        <span class="dot dot-2"></span>
                                        <i class="fa-solid fa-plane"></i>
                                    </span>
                                    <span class="arrival">Dakar</span>
                                </div>
                                <div class="date">10-12-2023</div> 
                            </div>
                            <div class="price-details">
                                <div class="price">5€/kg</div>
                                <a href="/room/detail" class="see-details">Voir détails</a>
                            </div>
                        </div>
                        <div class="weight">
                            <span class="description">Poids disponible</span>
                            <span class="divider"></span>
                            <span class="price">32 kg</span>
                        </div>
                    </div>
                    <div class="room">
                        <h4>SUNU GP</h4>
                        <div class="trip">
                            <div class="trip-list">
                                <div class="departure-arrival">
                                    <span class="departure">Paris</span>
                                    <span class="scheme" >
                                        <span class="dot dot-1"></span>
                                        <span class="dot dot-2"></span>
                                        <i class="fa-solid fa-plane"></i>
                                    </span>
                                    <span class="arrival">Dakar</span>
                                </div>
                                <div class="date">10-12-2023</div> 
                            </div>
                            <div class="price-details">
                                <div class="price">5€/kg</div>
                                <a href="/room/detail" class="see-details">Voir détails</a>
                            </div>
                        </div>
                        <div class="weight">
                            <span class="description">Poids disponible</span>
                            <span class="divider"></span>
                            <span class="price">32 kg</span>
                        </div>
                    </div>
                    <div class="room">
                        <h4>SUNU GP</h4>
                        <div class="trip">
                            <div class="trip-list">
                                <div class="departure-arrival">
                                    <span class="departure">Paris</span>
                                    <span class="scheme" >
                                        <span class="dot dot-1"></span>
                                        <span class="dot dot-2"></span>
                                        <i class="fa-solid fa-plane"></i>
                                    </span>
                                    <span class="arrival">Dakar</span>
                                </div>
                                <div class="date">10-12-2023</div> 
                            </div>
                            <div class="price-details">
                                <div class="price">5€/kg</div>
                                <a href="/room/detail" class="see-details">Voir détails</a>
                            </div>
                        </div>
                        <div class="weight">
                            <span class="description">Poids disponible</span>
                            <span class="divider"></span>
                            <span class="price">32 kg</span>
                        </div>
                    </div>
                  
                </div>
            </div>
            <a class="see-more" href="#">Plus de resultats</a>
        </div>
        {# END ROOMS AND CARRIER SECTION  #}
    </div>
</main>
    
{% endblock %}
