{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}
    <header class="gp-header">
        <section class="section-1">
           <img src="{{asset('theme/assets/img/logo/gp-tracker-logo-4.png')}}" alt="logo">
            <div class="content">
              <div class="language-switcher">
                <a href="#">Fr</a>
                <span class="separator">|</span>
                <a href="#">En</a>
              </div>
              <div class="buttons">
                <button class="login">
                    <i class="fa fa-user"></i>
                    <span>Se Connecter</span>
                </button>
                <button class="register">
                    <i class="fa-solid fa-user-plus"></i>
                    <span>Créer mon compte</span>
                </button>
              </div>
            </div>
        </section>
        <section class="section-2">

        </section>
    </header>
    <main>
    </main>
    <footer>

    </footer>
{% endblock %}
