{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

<main>
    <div class="container gp-informations">
        <section class="nav-content">
            <div class="nav">
                <ul>
                    <li class="active">
                       <a href="#">
                             <i class="fa-solid fa-user"></i>
                            <span>Votre compte GP-Tracker</span>
                       </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Boîte de reception</span>
                        </a>
                    </li>
                    <li>
                       <a href="#">
                             <i class="fa-solid fa-box"></i>
                            <span>Mes colis</span>
                       </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-truck-fast"></i>
                            <span>Mes commandes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-regular fa-clock-rotate-left"></i>
                            <span>Vus Récemment</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">

            </div>
        </section>
    </div>
</main>
    
{% endblock %}