{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

<main>
    <div class="container gp-informations">
        <section class="nav-content">
            <div class="nav">

            </div>
            <div class="content">

            </div>
        </section>
    </div>
</main>
    
{% endblock %}