{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

<main>
    <div class="container gp-informations">
        <section class="nav-content">
            <div class="nav">
                <ul class="main-nav">
                    <li class="active">
                       <a href="#">
                             <i class="fa-solid fa-user"></i>
                            <span>Votre compte GP-Tracker</span>
                       </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-envelope"></i>
                            <span>Boîte de reception</span>
                        </a>
                    </li>
                    <li>
                       <a href="#">
                             <i class="fa-solid fa-box"></i>
                            <span>Mes colis</span>
                       </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-solid fa-truck-fast"></i>
                            <span>Mes commandes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-regular fa-clock-rotate-left"></i>
                            <span>Vus Récemment</span>
                        </a>
                    </li>
                </ul>
                <ul class="params">
                    <li>
                        <a href="#">Adresses</a>
                    </li>
                    <li>
                        <a href="#">Paramatère du compte</a>
                    </li>
                </ul>
                <form>
                    <button>Deconnexion</button>
                </form>
            </div>
            <div class="content">
               <div class="header">
                     <h2 class="title">Votre compte</h2>
               </div>
                <form action="#" class="form-info">
                    <div class="profile">
                        <div class="profile-header">
                            <h2 class="title">Profil</h2>
                            <a href="#" class="my-favorites">Mes favoris</a>
                        </div>
                        <div class="body">
                            <span class="profile-picture">
                                <img src="{{asset('theme/assets/img/profil/gp-profile.png')}}" alt="Profile Image" class="profile-image">
                                <i class="fa-solid fa-plus"></i>
                            </span>
                            <span class="description">
                                Avec une photo, vous avez de quoi personnaliser votre profil et rassurer les autres membres!
                            </span>
                        </div>
                    </div>
                    <div class="information">
                        <div class="profile-header">
                            <h2 class="title">Informations de Compte</h2>
                        </div>
                        <div class="body">

                        </div>
                    </div>
                    {# <div class="profile">
                       
                        <div class="profile-info">
                            
                        </div>
                        <div class="username-container">
                            <div class="username-label">
                                <span>Nom d'utilisateur</span>
                                <span class="required-field">Champ requis</span>
                            </div>
                            <input type="text" placeholder="Entrez votre nom d'utilisateur" />
                        </div>
                        <div class="account-info-container">
                            <div class="account-info-header">
                                <h2 class="account-info-title">Information de compte</h2>
                            </div>
                            <div class="gender-selection">
                            
                                <label>
                                    <input type="radio" name="gender" value="madame" />
                                        Madame
                                    </label>
                                <label>
                                    <input type="radio" name="gender" value="monsieur" />
                                        Monsieur
                                </label>
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="info-1">
                                <div class="label-container">
                                    <span class="info-label">Nom </span>
                                    <span class="required-label">champ requis</span>
                                </div>
                                <input type="text" name="nom" class="input-field" placeholder="Entrez votre nom " />
                            </div>
                            <div class="info-2">
                                <div class="label-container">
                                    <span class="info-label">Prenom </span>
                                    <span class="required-label-2">champ requis</span>
                                </div>
                                <input type="text" name="prenom" class="input-field" placeholder="Entrez votre prenom "  />
                            </div>
                        </div>
                        <div class="user-info">
                            <div class="info-1">
                                <div class="label-container">
                                    <span class="info-label">Date de Naissance</span>
                                    <span class="required-label-3">champ requis</span>
                                </div>
                                <input type="date" name="nom" class="input-field"  />
                            </div>
                            <div class="info-2">
                                <div class="label-container">
                                    <span class="info-label">Numero de telephone </span>
                                    <span class="required-label-4">champ requis</span>
                                </div>
                                <input type="tel" name="prenom" class="input-field" placeholder="Entrez votre numero de telephone"  />
                            </div>
                        </div>
                    </div> #}
                    <div class="btn-section">
                        <button>Enregistrer</button>
                    </div>
                </form> 
                
            </div>
        </section>
    </div>
</main>
    
{% endblock %}