{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Home
{% endblock %}

{% block body %}

<main>
    <div class="container gp-informations">
        <section class="notification">
            <div>
                <span class="text">Vos modifications ont été très bien enregistrés</span>
                <i class="fa-solid fa-xmark"></i>
            </div>
        </section>
        <section class="nav-content">
            <div class="nav">

            </div>
            <div class="content">

            </div>
        </section>
    </div>
</main>
    
{% endblock %}