{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
    New Password
{% endblock %}

{% block body %}
    <div class="gp-new-pass-container">
        <div class="header">
            <img src="{{asset('theme/assets/img/logo/gp-tracker-logo-1.png')}}" alt="Logo Gp-tracker" class="logo">
            <p>Veuillez saisir votre nouveau mot de passe.</p>
        </div>
        <div class="body">
            <form action="#" method="post">
                <div>
                    <input id="password" type="password" name="password" placeholder="Entrez votre mot de passe" autocomplete="new-password" required>
                    <input id="password" type="password" name="password" placeholder="Confirmez votre mot de passe" autocomplete="new-password" required>
                </div>
                <button type="submit">Confirmez votre mot de passe</button>
            </form>
        </div>

    </div>
{% endblock %}