{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="gp-register-container">
        <div class="header">
            <img src="{{asset('theme/assets/img/logo/gp-tracker-logo-1.png')}}" alt="Logo Gp-tracker" class="logo">
            <h1>Creer votre compte</h1>
            <p>Pour assurer la securité de votre compte, nous vous suggérons d’ajouter un mot de passe fort</p>
        </div>
        <div class="body">
            <form action="#" method="post">
                <input type="email" name="email" value="contact@atomic.io" id="gp-register-input-email" placeholder="Email">
                <input type="password" name="password" id="gp-register-input-password" placeholder="Mot de passe">
                <input type="password" name="password-confirm" id="gp-register-input-password-confirm" placeholder="Confirmez le mot de passe">
                {# <p class="error">L'adresse email renseigné est incorrecte</p> #}
                <button type="submit">Continuer</button>
                {# <p class="phone-option">Enregistez vous avec votre numéro de téléphone</p>  #}
            </form>
            {# <div class="btn-options">
                <button class="btn-google">
                    <i class="fa-brands fa-google"></i>
                    <span>Continuer avec Gmail</span>
                </button>
                <button class="btn-facebook">
                    <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                    <span>Continuer avec Facebook</span>
                </button>
            </div> #}
        </div>

    </div>
{% endblock %}