{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Room Creation
{% endblock %}

{% block body %}
<main>
    <div class="container gp-room-creation">
       <div class="page-root">
            <a href="#" class="rooms">Salons</a>
            <span>></span>
            <a href="#" class="room-title">Sunu GP</a>
       </div>
       <div class="content">
            <ul class="nav">
                <li class="current">Détails du voyage</li>
                <li>Options & Services</li>
                <li>Confirmation</li>
            </ul>
            <form action="#" id="roomCreationForm">
                <h4 class="form-title">
                    <span class="step"></span>
                    <span>Détails du voyage</span>
                </h4>
                <div class="tab hidden">
                    <div class="form-group">
                        <div class="input-container">
                            <label for="departure-location">Lieu de depart (*)</label>
                            <p>Mettre les informations necessaires</p>
                            <input type="text" name="departure" id="departure-location" required>
                        </div>
                        <div class="input-container">
                            <label for="arrival-location">Lieu d’arrivée (*)</label>
                            <p>Mettre les informations necessaires</p>
                            <input type="text" name="arrival" id="arrival-location" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-container">
                            <label for="departure-date">Date de depart (*)</label>
                            <p>Preciser votre date départ</p>
                            <input type="date" name="departure-date" id="departure-date" required>
                        </div>
                        <div class="input-container">
                            <label for="arrival-date">Date d’arrivée (*)</label>
                            <p>Preciser votre date d'arrivée</p>
                            <input type="date" name="arrival-date" id="arrival-date" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-container">
                            <label for="primary-tel">Numéro de téléphone principal (*)</label>
                            <p>Veuillez entrer un format valide, par exemple : +1 XXX XXX XXXX</p>
                            <input type="tel" name="primary-tel" id="primary-tel" required>
                        </div>
                        <div class="input-container">
                            <label for="secondary-tel">Numéro de téléphone secondaire</label>
                            <p>Veuillez entrer un format valide, par exemple : +1 XXX XXX XXXX</p>
                            <input type="tel" name="secondary-tel" id="secondary-tel">
                        </div>
                    </div>
                </div>
                <div class="tab hidden">
                
                </div>
                <div class="tab hidden">
                
                </div>

                <div class="buttons">
                    <button class="hidden" type="button" id="btn-preview">Aperçu</button>
                    <button class="hidden" type="button" id="btn-previous">&laquo; Retour</button>
                    <button type="button" id="btn-next">Etape suivante &raquo;</button>
                    <button class="hidden" type="submit" id="btn-submit">Publier</button>
                </div>
            </form>
       </div>
    </div>
</main>
{% endblock %}
