{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Rooms
{% endblock %}

{% block body %}
<main>
    <div class="container gp-rooms">
        <form class="search">
            <div class="form-container">
                {# <div class="header">
                    <h2>Rechercher</h2>
                    <span class="cancel">Annuler</span>
                </div> #}
                <div class="form-group">
                    <div class="input-container">
                        <i class="fa-solid fa-plane-departure"></i>
                        <input type="text" value="dsqdjfmqjdfmq" name="departure" id="departure" required>
                    </div>
                    <div class="switcher">
                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                    </div>
                    <div class="input-container">
                        <i class="fa-solid fa-plane-arrival"></i>
                        <input type="text" name="arrival" id="arrival" required>
                    </div>
                </div>
                <div class="form-group input-type-date">
                    <div class="input-container">
                        <div class="buttons">
                            <button id="increment-start-date">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button id="decrement-start-date">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                        <input type="month" name="start-date" id="start-date">
                    </div>
                    <div class="divider"></div>
                    <div class="input-container">
                        <div class="buttons">
                            <button type="button" id="increment-end-date">
                                <i class="fa-solid fa-chevron-left"></i>
                            </button>
                            <button type="button" id="decrement-end-date">
                                <i class="fa-solid fa-chevron-right"></i>
                            </button>
                        </div>
                        <input type="month" name="end-date" id="end-date">
                    </div>
                </div>
                <button type="submit">
                    <span>Rechercher</span>
                    <i class="fa-solid fa-magnifying-glass"></i>    
                </button>
            </div>
        </form>
        <section class="content">
            <div class=""></div>
            <div class="rooms">
                <div class="room">
                    <h4>SUNU GP</h4>
                    <div class="trip">
                        <div class="trip-list">
                            <div class="departure-arrival">
                                <span class="departure">Paris</span>
                                <span class="scheme" >
                                    <span class="dot dot-1"></span>
                                    <span class="dot dot-2"></span>
                                    <i class="fa-solid fa-plane"></i>
                                </span>
                                <span class="arrival">Dakar</span>
                            </div>
                            <div class="date">10-12-2023</div> 
                        </div>
                        <div class="price-details">
                            <div class="price">5€/kg</div>
                            <a href="#" class="see-details">Voir détails</a>
                        </div>
                    </div>
                    <div class="weight">
                        <span class="description">Poids disponible</span>
                        <span class="divider"></span>
                        <span class="price">32 kg</span>
                    </div>
                </div>
                <div class="room">
                    <h4>SUNU GP</h4>
                    <div class="trip">
                        <div class="trip-list">
                            <div class="departure-arrival">
                                <span class="departure">Paris</span>
                                <span class="scheme" >
                                    <span class="dot dot-1"></span>
                                    <span class="dot dot-2"></span>
                                    <i class="fa-solid fa-plane"></i>
                                </span>
                                <span class="arrival">Dakar</span>
                            </div>
                            <div class="date">10-12-2023</div> 
                        </div>
                        <div class="price-details">
                            <div class="price">5€/kg</div>
                            <a href="#" class="see-details">Voir détails</a>
                        </div>
                    </div>
                    <div class="weight">
                        <span class="description">Poids disponible</span>
                        <span class="divider"></span>
                        <span class="price">32 kg</span>
                    </div>
                </div>
                <div class="room">
                    <h4>SUNU GP</h4>
                    <div class="trip">
                        <div class="trip-list">
                            <div class="departure-arrival">
                                <span class="departure">Paris</span>
                                <span class="scheme" >
                                    <span class="dot dot-1"></span>
                                    <span class="dot dot-2"></span>
                                    <i class="fa-solid fa-plane"></i>
                                </span>
                                <span class="arrival">Dakar</span>
                            </div>
                            <div class="date">10-12-2023</div> 
                        </div>
                        <div class="price-details">
                            <div class="price">5€/kg</div>
                            <a href="#" class="see-details">Voir détails</a>
                        </div>
                    </div>
                    <div class="weight">
                        <span class="description">Poids disponible</span>
                        <span class="divider"></span>
                        <span class="price">32 kg</span>
                    </div>
                </div>
            </div>
            <div class=""></div>
        </section>
        
    </div>
</main>
{% endblock %}
