{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Rooms
{% endblock %}

{% block body %}
    <main>
        <section class="search-section">
            <form>
                <div class="input-container">
                    <input type="text" id="departure" name="departure" placeholder="Départ" required>
                    <i class="fa fa-plane-departure"></i>
                </div>
                <div class="invert-flight-direction">
                    <button type="button" id="invert-btn"><i class="fas fa-exchange-alt"></i></button>
                </div>

                <div class="input-container">
                    <input type="text" id="arrival" name="arrival" placeholder=" Arrivée" required>
                    <i class="fa fa-plane-arrival"></i>
                </div>

                <div class="input-container">
                    <input type="date" id="departure-date" name="departure-date" required>
                    <i class="fa fa-calendar"></i>
                </div>

                <div class="input-container">
                    <input type="date" id="return-date" name="return-date" required>
                    <i class="fa fa-calendar"></i>
                </div>

                <button type="submit"><i class="fa fa-search"></i> Rechercher</button>
            </form>

        </section>
        <section class="left-section">
            <div class="left-container">
                <div class="card-advert">
                </div>
                <div class="filter-container">
                    <div class="filter-bar">
                        <div class="filter-content">
                            <p>304 sur 400</p>
                            <span>|</span>
                            <button class="btn-reset"type="reset">Reinitialiser</button>
                        </div>
                    </div>
                   <div class="filter-options">
                        <h4 class="filter-options-title">Caractéristique</h4>
                        <div class="filter-option">
                            <h6 class="filter-option-label">Poids disponible</h6>
                            <button class="filter-reset-button" type="reset">
                                <i class="fa-sharp fa-solid fa-xmark fa-sm" style="color: #14438b;"></i>
                                <span>Réinitialiser</span>
                            </button>
                             <input class="filter-option-range" type="range" min="1" max="50" value="1">  
                        </div>

                         <div class="filter-option">
                            <h6 class="filter-option-label">Prix</h6>
                            <button class="filter-reset-button" type="reset">
                                <i class="fa-sharp fa-solid fa-xmark fa-sm" style="color: #14438b;"></i>
                                <span>Réinitialiser</span>
                            </button>
                             <input class="filter-option-range" type="range" min="1" max="50" value="1">  
                        </div>
                   </div>
                
                </div>
            </div>
            
        </section>

        <section class="middle-section">
            <!-- Contenu de la section du milieu ici -->
            <div class="button-container">
                <button class="create-salon-button">
                <i class="fa-solid fa-home"></i>
                <span>Créer salon</span> 
                </button>
            </div>
        </section>
        <section class="right-section">
            <div class="right-container">
                <div class="powered-card">
                    <p>Powered By</p>
                    <div class="author-container">
                        <h3>View Point</h3> 
                    </div>
                </div>
                <div class="feedback-card">
                    <p>Send Feedback</p>
                </div>
            </div> 
        </section>

    
    </main>
{% endblock %}
