{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Room Creation
{% endblock %}

{% block body %}
<main>
    <div class="container gp-room-creation">
       <div class="page-root">
            <a href="#" class="rooms">Salons</a>
            <span>></span>
            <a href="#" class="room-title">Sunu GP</a>
       </div>
       <div class="content">
            
       </div>
    </div>
</main>
{% endblock %}
