{% extends 'gp-tracker/base.html.twig' %}

{% block title %}
   Conditions Generales
{% endblock %}

{% block body %}

<main class="cu-container">
   <div class="cu-main">
    <div class="row">
        <p class="head-title">Conditions Générales d'Utilisation de GP-Tracker
        </p>
        <div class="line"></div>
    </div>
    <div class="gp-menu">
        Contenu <br/><br/>
        <ul id="gp-cu-menu-list" class = "gp-menu-list">
            <li><a href="#section-introduction" class="menu-title "> Introduction</a></li>
            <li><a href="#section-inscription" class="menu-title"> Inscription et compte</a></li>
            <li><a href="#section-access" class="menu-title"> Accès aux services</a></li>
            <li><a href="#section-responsabilite" class="menu-title"> Responsabilité et Communication avec les Transporteurs</a></li>
            <li><a href="#section-paiments" class="menu-title"> Paiements</a></li>
            <li><a href="#section-editeur" class="menu-title"> Responsabilité de l’ Éditeur</a></li>
            <li><a href="#section-evolution-cu" class="menu-title"> Évolution des conditions générales d’utilisation</a></li>
            <li><a href="#section-contenu" class="menu-title"> Règles concernant votre contenu</a></li>
            <li><a href="#section-droit-utilisateur" class="menu-title"> Nos droits d'utilisation de votre contenu</a></li>
            <li><a href="#section-applicable" class="menu-title"> Droit applicable et juridiction compétente</a></li>
            <li><a href="#section-propriete" class="menu-title"> Propriété intellectuelle</a></li>
        </ul>
    </div>

    <h2 id="section-introduction" class="subtitle cu-section">1. Introduction</h2>
    <p class="cu-texte">
        &emsp;1.1.  Nous sommes ravis de vous accueillir sur <b>GP-Tracker</b> votre plateforme dédiée à la gratuité partielle de services
        exceptionnels. Chez <b>GP-Tracker</b>, notre mission est de rendre accessible une partie de nos services de haute qualité sans
        frais, afin de soutenir nos utilisateurs dans la réalisation de leurs objectifs.
        <br/>
        <br/>
    </p>
    <p class="cu-texte">
        &emsp;1.2. Chez <b>GP-Tracker</b>, nous nous engageons à offrir une expérience utilisateur exceptionnelle tout en protégeant la
        sécurité et la confidentialité de vos informations. Nous encourageons également une communauté respectueuse, où
        chacun peut profiter pleinement de nos services dans un environnement harmonieux.
        <br/>
    </p><br/>

    <p class="cu-texte">
        &emsp;1.3.  En utilisant <b>GP-Tracker</b>, vous acceptez de vous conformer à ces conditions générales ainsi qu'à notre politique de
        confidentialité. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter. Votre satisfaction
        est notre priorité.
        <br/>
    </p><br/>

    <p class="cu-texte">
        &emsp;1.4.  Nous espérons que <b>GP-Tracker</b> vous aidera à atteindre de nouveaux sommets et à découvrir tout votre potentiel.
        Merci de nous rejoindre dans cette aventure enrichissante !
        <br/>
        <br/>
    </p><br/>


    <h2  id="section-inscription" class="subtitle cu-section">2. Inscription et compte</h2>
    <p class="cu-texte">
        &emsp;2.1.  Si vous vous inscrivez pour créer un compte sur notre plateforme, il vous sera demandé de fournir une adresse électronique ou un identifiant d'utilisateur et un mot de passe, et vous acceptez de :
        <br/>
        &emsp;&emsp;2.1.1.  garder votre mot de passe confidentiel;
        <br/>
        &emsp;&emsp;2.1.2.  nous informer immédiatement par écrit (dans la partie contact de notre application), si vous avez connaissance de toute divulgation de votre mot de passe; et
        <br/>
        &emsp;&emsp;2.1.3.  être responsable de toute activité sur notre palteforme résultant d'un manquement à la confidentialité de votre mot de passe, et vous reconnaissez que vous pouvez être tenu pour responsable de toute perte résultant d'un tel manquement.
        <br/>
    </p>

    <p  class="cu-texte">
        &emsp;2.2.  Votre compte doit être utilisé exclusivement par vous et vous ne devez en aucun cas transférer votre compte à un tiers. Si vous autorisez un tiers à gérer votre compte en votre nom, vous le faites à vos propres risques.
    </p><br/>

    <p class="cu-texte">
        &emsp;2.3.  Nous pouvons suspendre ou annuler votre compte, et / ou modifier les détails de votre compte, à tout moment, à notre seule discrétion et sans préavis ni explication,si nous voyons une activite illegale.
    </p><br/>

    <p  class="cu-texte">
        &emsp;2.4.  Vous pouvez, à tout moment, vous désinscrire et supprimer votre compte (voir les parametres de votre compte).
    </p><br/>

    <h2 id="section-access" class="subtitle cu-section">3. Accès aux services</h2>
    <p class="cu-texte">
        &emsp;3.1. Le site est ouvert à toute personne disposant de la capacité juridique nécessaire pour conclure un contrat. Afin de profiter de nos services, une inscription en tant que "GP" (utilisateur général) ou "Utilisateur" est obligatoire. Cette démarche d'inscription vise à garantir une expérience utilisateur personnalisée et sécurisée.<br/>
        &emsp;&emsp;3.2 Lors du processus d'inscription, l'Utilisateur est tenu de fournir des informations exactes, telles que son nom, son adresse e-mail et toute autre donnée nécessaire. Ces informations permettent d'établir un compte unique pour chaque Utilisateur, facilitant ainsi l'accès aux services du site. De plus, l'Utilisateur s'engage à maintenir ses informations à jour en cas de changement.
        <br/>
        &emsp;&emsp;3.3   Il est important de noter que tout Utilisateur disposant d'un accès à Internet peut se connecter gratuitement au site, et ce, depuis n'importe quel endroit. L'accès n'engendre aucuns frais supplémentaires dus à l'Éditeur du site. En effet, l'Utilisateur est responsable des coûts liés à sa connexion Internet, son matériel informatique ou tout autre dispositif nécessaire pour accéder au site. L'Éditeur ne facture aucun frais pour la simple utilisation du site.
        <br/>
    </p><br/>

    <p  class="cu-texte">
        &emsp;3.4.  Avantages pour les Utilisateurs :
        <br/>
        &emsp;&emsp;3.4.1.  Services personnalisés : Une fois inscrit, l'Utilisateur bénéficie d'un accès personnalisé aux différentes fonctionnalités du site, adaptées à ses préférences et besoins spécifiques.
        <br/>
        &emsp;&emsp;3.4.2.  Contenu riche et diversifié : Le site offre un large éventail de contenus, de services ou de produits pouvant intéresser chaque Utilisateur en fonction de ses centres d'intérêt.
        <br/>
        &emsp;&emsp;3.4.3.  Facilité d'utilisation : Le site est conçu pour être convivial, permettant ainsi une navigation aisée et intuitive.
        <br/>
        &emsp;&emsp;3.5.4.  Assistance clientèle : L'inscription permet également aux Utilisateurs d'accéder à un service d'assistance clientèle pour toute question, problème technique ou requête particulière.
        
    </p><br/>


    <h2  id= "section-responsabilite" class="subtitle cu-section">4. Responsabilité et Communication avec les Transporteurs</h2>

    <p class="cu-texte">
        &emsp;4.1.  Nous souhaitons vous informer que notre responsabilité en ce qui concerne votre communication avec votre transporteur est limitée. Bien que nous nous efforcions de fournir un service de qualité et de vous assister dans la mesure du possible, il est important que vous compreniez certains aspects essentiels relatifs à cette relation.
    </p><br/>

    <p class="cu-texte">
        &emsp;4.2.  Communication avec le Transporteur :Lorsque vous faites appel à un transporteur pour la livraison de produits ou services, nous vous encourageons à entretenir une communication claire et régulière avec eux. Nous vous recommandons de vérifier toutes les informations importantes telles que l'adresse de livraison, les délais, les modalités de paiement, et de vous assurer que tout est en ordre avant de finaliser la transaction.<br/>
        &emsp;&emsp;4.2.1.  Responsabilité Limitée :
Veuillez noter que notre rôle se limite à faciliter votre communication avec le transporteur en vous fournissant les informations nécessaires et en agissant en tant qu'intermédiaire. Nous ne sommes pas responsables des actions ou des erreurs commises par le transporteur pendant le processus de livraison.<br/>

        &emsp;&emsp;4.2.2.  Suivi de la Livraison :
Bien que nous puissions vous fournir des informations de suivi et des mises à jour sur l'état de votre livraison, veuillez garder à l'esprit que ces données sont basées sur les informations fournies par le transporteur lui-même. Des retards ou des imprévus peuvent survenir indépendamment de notre contrôle.
        <br/>
        &emsp;&emsp;4.2.3.  Précautions à prendre :
Nous vous conseillons également de prendre certaines précautions, telles que vérifier l'état de vos produits à la réception, noter tout dommage éventuel sur le bon de livraison, et conserver les preuves de communication avec le transporteur au cas où des problèmes surviendraient.
    </p><br/>

    <p class="cu-texte">
        &emsp;4.3.  Collaboration et Médiation :
En cas de litige avec le transporteur, nous vous encourageons à chercher une solution amiable en collaborant directement avec eux. Si cela s'avère difficile, envisagez de faire appel à un service de médiation indépendant pour résoudre le différend.
    </p><br/>

    <p class="cu-texte">
        &emsp;4.4.  Les modifications apportées à notre page des retours ou des remboursements seront effectives pour tous les achats effectués à partir de la date de publication de la modification sur notre site web.
    </p><br/>

    <h2 id="section-paiments" class="subtitle cu-section">5. Paiements</h2>
    <p class="cu-texte">
        &emsp;5.1.  Le prix peut être négocié directement avec le transporteur, et il est important de noter que nous déclinons toute responsabilité concernant le tarif proposé sur <b>GP-Tracker</b>.
    </p><br/>

    <h2 id="section-editeur"  class="subtitle cu-section">6. Responsabilité de l’Éditeur</h2>
    <p class="cu-texte">
        &emsp;6.1.  Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
    </p><br/>
     <p class="cu-texte">
        &emsp;6.2.  De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
    </p><br/>
    <p class="cu-texte">
        &emsp;6.3.  Le site s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. Toutefois, il n’apporte pas une garantie de sécurité totale.
    </p><br/>
    <p class="cu-texte">
        &emsp;6.4.  L'Éditeur du site GP-Tracker met en relation les GPs et les Utilisateurs mais n'intervient pas dans la réalisation des contrats de transport de colis entre les parties. Par conséquent, l'Éditeur décline toute responsabilité quant au contenu des colis, à leur livraison, ainsi qu'aux éventuels litiges entre GPs et Utilisateurs
    </p><br/>

    <h2 id="section-evolution-cu" class="subtitle cu-section">7. Évolution des conditions générales d’utilisation</h2>
    <p class="cu-texte">
        &emsp;7.1. Les présentes conditions générales peuvent être modifiées à tout moment par l'Éditeur. Les Utilisateurs seront informés de ces modifications par tout moyen jugé approprié. En continuant d'utiliser le site après la publication des nouvelles conditions générales, l'Utilisateur accepte les modifications.
    </p><br/>

    <h2  id="section-contenu" class="subtitle cu-section">8. Règles concernant votre contenu</h2>
    <p class="cu-texte">
        &emsp;8.1.  Dans les présentes conditions générales, "votre contenu" signifie:<br/>
        &emsp;&emsp;8.1.1. toutes les œuvres et tous les matériaux (y compris, sans s'y limiter, les textes, les graphiques, les images, le matériel audio, le matériel vidéo, le matériel audiovisuel, les scripts, les logiciels et les fichiers) que vous nous soumettez ou que vous soumettez à notre place de marché pour stockage ou publication, traitement ou transmission ultérieure ; et
        <br/>
        &emsp;8.2.  Votre contenu et l'utilisation de votre contenu par nous, conformément aux présentes conditions générales, doit être exact, complet et authentique.<br/>
        &emsp;8.3.  Votre contenu doit être approprié, civil et de bon goût, et être conforme aux normes d'éthique et de comportement généralement acceptés sur Internet, et ne doit pas:
        <br/>
        &emsp;&emsp;8.3.1.  être offensant, obscène, indécent, pornographique, suggestif ou sexuellement explicite;
        <br/>
        &emsp;&emsp;8.3.2.  dépeindre la violence de manière explicite, graphique ou gratuite; ou
        <br/>
        &emsp;&emsp;8.3.3.  être blasphématoire, en violation de la législation sur la haine raciale ou religieuse ou la discrimination;
        <br/>
        &emsp;&emsp;8.3.4.  être trompeur, frauduleux, menaçant, abusif, harcelant, antisocial, haineux, discriminatoire ou provoquant;
        <br/>
        &emsp;&emsp;8.3.5.  causer de la gêne, des désagréments ou une anxiété inutile à quiconque; ou
        <br/>
        &emsp;&emsp;8.3.6.  constitue un spam.
        <br/>
        &emsp;8.4.  Votre contenu ne doit pas être illégal ou illicite, enfreindre les droits légaux de toute personne ou être susceptible de donner lieu à une action en justice contre toute personne (dans chaque cas, dans toute juridiction et en vertu de toute loi applicable).  Votre contenu ne doit pas enfreindre ou violer:
        <br/>
        &emsp;&emsp;8.4.1.  tout droit d'auteur, droit moral, droit de base de données, droit de marque, droit de conception de dessins et modèles, droit de substitution ou tout autre droit de propriété intellectuelle;
        <br/>
        &emsp;&emsp;8.4.2.  tout droit de confidentialité, droit relatif à la vie privée ou droit en vertu de la législation sur la protection des données;
        <br/>
        &emsp;&emsp;8.4.3.  toute obligation contractuelle à l’égard de toute personne; ou
        <br/>
        &emsp;&emsp;8.4.4.  toute ordonnance du tribunal ou décision judiciaire.
        <br/>
        &emsp;8.5.  Vous ne devez pas utiliser notre marketplace pour établir un lien vers un site web ou une page web consistant en ou contenant un élément ou contenu qui, s'il était publié sur notre marketplace, violerait les dispositions des présentes conditions générales.
        <br/>
        &emsp;8.6.  Vous ne devez pas soumettre à notre marketplace tout matériel ou contenu qui fait l'objet de menace de poursuite judiciaire ou de réelle poursuite judiciaire ou de toute autre plainte similaire.
        <br/>
        &emsp;8.7.  La fonction qui permet aux utilisateurs sur notre marketplace de donner leur avis et commentaires peut être utilisée pour faciliter les évaluations des produits par les acheteurs. Vous ne devez pas utiliser ladite fonction ou toute autre forme de communication pour fournir des évaluations et/ou des avis inexacts, inauthentiques ou faux.
        <br/>
        &emsp;8.8.  Vous ne devez pas interférer avec une transaction en: (i) contactant un autre utilisateur pour acheter ou vendre un article listé sur notre marketplace en dehors de notre marketplace; ou (ii) communiquer avec un utilisateur impliqué dans une transaction active ou terminée pour l'avertir d’éviter un acheteur, un vendeur ou un article particulier; ou (iii) contacter un autre utilisateur dans l’intention de percevoir des paiements.
        <br/>
        &emsp;8.9.  Vous reconnaissez que tous les utilisateurs de notre marketplace sont seuls responsables des interactions avec les autres utilisateurs et vous devez faire preuve de prudence et de bon sens dans votre communication avec les utilisateurs. Vous ne devez pas leur envoyer des informations personnelles, y compris les détails de votre carte de crédit et tout moyen de paiement.
        <br/>
        &emsp;8.10. Nous pouvons examiner périodiquement votre contenu et nous nous réservons le droit de supprimer tout contenu à notre discrétion pour quelque raison que ce soit.
        <br/>
        &emsp;8.11. Si vous avez connaissance de tout élément, contenu ou activité illégale et illicite sur notre marketplace, ou de tout élément, contenu ou activité qui enfreint les présentes conditions générales, vous pouvez nous en informer en nous contactant aux coordonnées définies à la section 26 ci-dessous.
        <br/>
    </p><br/>

    <h2  id="section-droit-utilisateur" class="subtitle cu-section">9. Nos droits d’utilisation de votre contenu</h2>

    <p class="cu-texte">
        &emsp;9.1.  Vous nous accordez une licence mondiale, irrévocable, non exclusive et sans redevance pour utiliser, reproduire, stocker, adapter, publier, traduire et distribuer votre contenu sur notre place de marché, ainsi que sur nos canaux de marketing et tout média existant ou futur.
        <br/>
        &emsp;9.2.  Vous nous accordez le droit de sous-licencier les droits accordés conformément à l'article 9.1.
        <br/>
        &emsp;9.3.  Vous nous accordez le droit d'engager des poursuites judiciaires en cas de violation des droits accordés en vertu de l'article 9.1.
        <br/>
        &emsp;9.4.  Par la présente, vous renoncez à tous vos droits moraux sur votre contenu dans la mesure permise par la loi applicable. De plus, vous garantissez et déclarez avoir renoncé à tous les autres droits moraux sur votre contenu dans la mesure maximale autorisée par la loi en vigueur.
        <br/>
        &emsp;9.5. En plus de nos autres droits en vertu des présentes conditions générales, en cas de violation de nos règles concernant le contenu, ou si nous avons des raisons raisonnables de soupçonner une telle violation, nous nous réservons le droit de supprimer, annuler la publication ou modifier tout ou partie de votre contenu.
        <br/>
    </p><br/>

    <h2 id="section-applicable" class="subtitle cu-section">10. Droit applicable et juridiction compétente</h2>

    <p class="cu-texte">
        &emsp;10.1. Les présentes conditions générales d'utilisation sont soumises et régies par les lois en vigueur . En cas de litige découlant de l'utilisation du sitec ou des services offerts, les tribunaux compétents seront ceux de votre pays.
        <br/>
        &emsp;10.2. Cela signifie que toute dispute ou conflit relatif aux CGU ou à l'utilisation du site sera résolu conformément aux lois du pays où l'entreprise est enregistrée. De plus, les tribunaux de la ville ou de la région spécifiée auront l'autorité pour régler le litige, si une résolution amiable n'est pas possible.
        <br/>
    </p><br/>
    <h2 id="section-propriete" class="subtitle cu-section">11. Propriété intellectuelle </h2>

    <p style="text-align: justify;" class="cu-texte">
        &emsp;11.1. Sous réserve des dispositions spécifiques énoncées dans les présentes conditions générales:
        <br/>
        &emsp;&emsp;11.1.1. Nous et nos concédants de licence détenons et exerçons tous les droits d'auteur et autres droits de propriété intellectuelle relatifs à notre site web, au matériel et à tout contenu qui y figure. 
        <br/>
        &emsp;&emsp;11.1.2.  Tous les droits d'auteur et autres droits de propriété intellectuelle concernant notre site web, le matériel et le contenu sont expressément réservés
        <br/>
        &emsp;11.2. Le logo de GP-Tracker ainsi que nos autres marques, qu'elles soient déposées ou non, sont notre propriété exclusive. Aucune autorisation n'est accordée pour l'utilisation de ces marques, et toute utilisation non autorisée pourrait constituer une violation de nos droits.
        <br/>
        &emsp;11.3. Les contenus du site GP-Tracker y compris les elements logos, textes, éléments graphiques, vidéos, etc. son protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.
        <br/>
        &emsp;11.4. L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.
    </p><br/>
</main>
    
{% endblock %}
